
<h4><span translate="ALL_DEPARTMENTS"></span></h4>

<div class="progress progress-striped active" ng-show="isBusy">
    <div style="width: 100%;" class="bar"></div>
</div>
<div class="icon-btn span3 red fade-in" ng-repeat="department in departments" ng-show="filtered.length>0">
    <a ng-href="{{vm.mainPortal}}/employee/search?param01={{department.id}}" title="{{department.departmentName}}">
        <i class="icon-group"></i>
        <div>{{ department.departmentName | limitTo:20}}</div>

        <div ng-repeat="emp in filtered = (employees  | filter:{departmentId:department.id}:true)">
            <!--<span class="badge badge-important">{{ employees.length | filter:employees.postedTo:1 }}</span>-->
            <span class="badge badge-important">{{ filtered.length }}</span>
        </div>
    </a>
    
</div>
