
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Store Location <small> edit </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    Inventory <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/HRMSPortal/department">Stores</a><span class="divider">&nbsp;</span></li>
                <li>
                    <a href="#">Edit</a><span class="divider-last">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>Location - Edit</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <form name="frm" novalidate>

                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="txtCode">Location Code</label>
                                <div class="controls">
                                    <input type="text" id="txtCode" name="txtCode" ng-model="store.storeCode" required="required" />
                                    <div class="help-inline" ng-show="frm.txtCode.$error.required && frm.txtCode.$dirty">Please enter code !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtName">Location Name</label>
                                <div class="controls">
                                    <input type="text" name="txtName" id="txtName" ng-model="store.storeName" required="required" />
                                    <input type="hidden" ng-model="store.storeId"/>
                                    <div class="help-inline red-color" ng-show="frm.txtName.$error.required && frm.txtName.$dirty">Please enter name !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="statusId">Is Active</label>
                                <div class="controls">
                                    <input type="checkbox" name="statusId" ng-model="store.statusId" ng-true-value="1" ng-false-value="0" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="edit(store)" ng-disabled="frm.$invalid">
                                    <i class="icon-save"></i>
                                    Update
                                </button>
                                <a id="cmdCancel" class="btn btn-inverse" href="/INVPortal/definition/store/list">
                                    <i class="icon-undo"></i>
                                    Cancel
                                </a>
                            </div>
                        </div>
                        <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>