
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Store <small> Listing </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/INVPortal/store/list">Store List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>Listing</h4>
                    <span class="tools">
                        <a class="icon-plus-sign" href="/INVPortal/definition/store/add"></a>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body" ng-init="loadLocation()">
                    <div class="form-horizontal">
                        <div class="control-group pull-left">
                            <label class="control-label">
                                Record Per Page:
                            </label>
                            <div class="controls">
                                <select ng-model="recordPage" ng-init="recordPage=10" class="input-small m-wrap">
                                    <option value="10" selected="selected">10</option>
                                    <option value="15">15</option>
                                    <option value="25">25</option>
                                </select>
                            </div>
                        </div>
                        <span class="pull-right">
                            search : <input type="text" ng-model="search" />
                        </span>
                    </div>
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Sr. #</th>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="isBusy">
                                <td colspan="3">
                                    <div class="progress progress-striped active">
                                        <div style="width: 100%;" class="bar"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr dir-paginate="store in locations | filter:search | itemsPerPage: recordPage">
                                <td>
                                    <a ng-href="/INVPortal/definition/store/edit/{{ store.storeId}}"> {{ store.storeCode }} </a>
                                </td>
                                <td>
                                    <a ng-href="/INVPortal/definition/store/edit/{{ store.storeId}}"> {{ store.storeName }} </a>
                                </td>
                                <td>
                                    <label ng-class="{'label label-info': store.statusId, 'label label-inverse': store.statusId==0}">
                                        <ng-pluralize count="store.statusId" when="{'0':'disabled', '1':'active'}"></ng-pluralize>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="height:40px;">
                        <span class="pull-left bottom" ng-show="store.length>0">
                            Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}
                        </span>
                        <span class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>