
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Dashboard
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/HRMSPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">Dashboard</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    
    <div class="alert alert-info">
        <button data-dismiss="alert" class="close">×</button>
        Welcome to the <strong>MTC HRMS System</strong>!  
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid metro-overview-cont">
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive">
                    <div class="metro-overview green-color clearfix">
                        <div class="display">
                            <i class="icon-user"></i>
                            <div class="percent">+{{empcount = ((employees | filter:{createdOn:oldDate}:gteComparator).length/employees.length) * 100 | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-hide="employees.length"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-show="employees.length" data-ng-bind="employees.length"></div>
                            <div class="title">New Staff</div>
                        </div>
                        <div class="progress progress-info">
                            <div ng-style="{'width':10}" class="bar"></div>
                        </div>
                    </div>
                </div>

                <div data-desktop="span2" data-tablet="span4 fix-margin" class="span2 responsive" data-ng-init="loadProbation()">
                    <div class="metro-overview red-color clearfix">
                        <div class="display">
                            <i class="icon-columns"></i>
                            <div class="percent">{{(probations.length / employees.length ) * 100  | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-show="isProbationBusy"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-hide="isProbationBusy" data-ng-bind="probations.length"></div>
                            <div class="title"><a ng-href="/HRMSPortal/employee/probationexpire/">Probation Expiry</a></div>
                            <div class="progress progress-warning">
                                <div style="width: {{(probations.length / employees.length)*100}}%" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4 fix-margin" class="span2 responsive" data-ng-init="loadAppraisal()">
                    <div class="metro-overview red-color clearfix">
                        <div class="display">
                            <i class="icon-calendar"></i>
                            <div class="percent">{{(appraisals.length / employees.length ) * 100 | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-show="isAppraisalBusy"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-hide="isAppraisalBusy" data-ng-bind="appraisals.length"></div>
                            <div class="title"><a ng-href="/HRMSPortal/employee/appraisal/">Appraisal</a></div>
                            <div class="progress progress-warning">
                                <div style="width: {{ (appraisals.length / employees.length ) * 100}}%" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive" data-ng-init="loadContract()">
                    <div class="metro-overview blue-color clearfix">
                        <div class="display">
                            <i class="icon-signout"></i>
                            <div class="percent">{{(contracts.length / employees.length ) * 100 | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-show="isContractBusy"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-hide="isContractBusy" data-ng-bind="contracts.length"></div>
                            <div class="title"><a ng-href="/HRMSPortal/employee/contractexpire/">Contract Expire</a></div>
                            <div class="progress progress-success">
                                <div style="width: {{ (contracts.length / employees.length ) * 100 }}%" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4 fix-margin" class="span2 responsive" data-ng-init="loadVisa()">
                    <div class="metro-overview blue-color clearfix">
                        <div class="display">
                            <i class="icon-plane"></i>
                            <div class="percent">{{(visas.length / employees.length ) * 100 | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-show="isVisaBusy"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-hide="isVisaBusy" data-ng-bind="visas.length"></div>
                            <div class="title"><a ng-href="/HRMSPortal/employee/visaexpire/" >Visa Expiry</a></div>
                            <div class="progress progress-warning">
                                <div style="width: {{(visas.length / employees.length ) * 100 }}%" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4 fix-margin" class="span2 responsive" data-ng-init="loadPassport()">
                    <div class="metro-overview blue-color clearfix">
                        <div class="display">
                            <i class="icon-plane"></i>
                            <div class="percent">{{(passports.length / employees.length ) * 100 | number:0}}%</div>
                        </div>
                        <div class="details">
                            <div class="numbers" data-ng-show="isPassportBusy"><img alt="" data-ng-src="/Content/img/loader.gif" /></div>
                            <div class="numbers" data-ng-hide="isPassportBusy" data-ng-bind="passports.length"></div>
                            <div class="title"><a ng-href="/HRMSPortal/employee/passportexpire/">Passport Expiry</a></div>
                            <div class="progress progress-warning">
                                <div style="width: {{ (passports.length / employees.length ) * 100}}%" class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            
            <departments></departments>
            
            <hr/>
            <nationalities></nationalities>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('.sidebar-menu > .active').removeClass('active open');
        $('#liDashboard').addClass('active');
    });
</script>
