
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                <span translate="EMPLOYEES"></span>  <small> <span translate="ADD"></span>  </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    HRMS <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/{{mainPortal}}/employee"><span translate="EMPLOYEES"></span> </a><span class="divider">&nbsp;</span></li>
                <li>
                    <a href="#"><span translate="ADD"></span></a><span class="divider-last">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    
    <div class="row-fluid ">
        <form name="staffForm" novalidate>
            <div class="span12">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-user"></i>  <span translate="PERSONAL_INFORMATION"></span></h4>
                        <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label for="tCode" class="control-label"><span translate="EMPLOYEE_NO"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tCode" name="tCode" ng-model="employeeDef.employeeCode" required />
                                            <div class="help-inline" ng-show="staffForm.tCode.$error.required && staffForm.tCode.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="RANK_GRADE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="rRank" name="tRank" ng-model="employeeDef.rank" required />
                                            <div class="help-inline" ng-show="staffForm.tRank.$error.required && staffForm.tRank.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="EMPLOYEE_NAME"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tFullName" name="tFullName" ng-model="employeeDef.employeeName" required />
                                            <div class="help-inline" ng-show="staffForm.tFullName.$error.required && staffForm.tFullName.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="EMPLOYEE_NAME"></span> (ar):</label>
                                        <div class="controls">
                                            <input type="text" id="tFullName" name="tFullName" ng-model="employeeDef.employeeNameAr" required />
                                            <div class="help-inline" ng-show="staffForm.tFullName.$error.required && staffForm.tFullName.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="DESIGNATION"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tDesignation" name="tDesignation" ng-model="employeeDef.designation" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="DESIGNATION"></span> (ar):</label>
                                        <div class="controls">
                                            <input type="text" id="tDesignation" name="tDesignation" ng-model="employeeDef.designationAr" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="MOBILE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tMobile" name="tMobile" ng-model="employeeDef.mobile" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="EMAIL"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tEmail" name="tEmail" ng-model="employeeDef.email" required />
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label"><span translate="NATIONALITY"></span> :</label>
                                        <div class="controls">
                                            <select id="cNationality" name="cNationality" ng-model="employeeDef.nationalityId" ng-options="nationality.id as nationality.nameEn for nationality in nationalities" required></select>
                                            <div class="help-inline" ng-show="staffForm.cNationality.$error.required && staffForm.cNationality.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="BIRTH_PLACE"></span>:</label>
                                        <div class="controls">
                                            <input type="text" id="tBirthPlace" name="tBirthPlace" ng-model="employeeDef.placeOfBirth" required />
                                            <div class="help-inline" ng-show="staffForm.tBirthPlace.$error.required && staffForm.tBirthPlace.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="RELIGION"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tReligion" name="tReligion" ng-model="employeeDef.religion" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="RESIDENTIAL_ADDRESS"></span> :</label>
                                        <div class="controls">
                                            <textarea ng-model="employeeDef.address" class="input-xlarge"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="PERMANENT_ADDRESS"></span> :</label>
                                        <div class="controls">
                                            <textarea ng-model="employeeDef.permanentAddress" class="input-xlarge"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="span6">
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label"><span translate="JOINING_DATE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tAppintmentDate" name="tAppintmentDate" data-date-format="dd/mm/yyyy" ng-model="employeeDef.appointment" datepicker required />
                                            <div class="help-inline" ng-show="staffForm.tAppintmentDate.$error.required && staffForm.tAppintmentDate.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="DEPARTMENT"></span> :</label>
                                        <div class="controls">
                                            <select id="cPostedTo" name="cPostedTo" ng-model="employeeDef.postedTo" ng-options="department.id as department.departmentName for department in departments" required></select>
                                            <div class="help-inline" ng-show="staffForm.cPostedTo.$error.required && staffForm.cPostedTo.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="REGIMENT"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tRegiment" name="tRegiment" ng-model="employeeDef.parentRegiment" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="MANPOWER_NO"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tManpower" name="tManpower" ng-model="employeeDef.manpowerNo" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="IDCARD_NO"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tIdCard" name="tIdCard" ng-model="employeeDef.idCardNo" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="CONTACT_NO"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tPhone" name="tRegiment" ng-model="employeeDef.phone" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="SUPERVISOR"></span> :</label>
                                        <div class="controls">
                                            <select id="tSupervisor" name="tSupervisor" ng-model="employeeDef.managerId"></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="USER_NAME"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tUserName" name="tUserName" ng-model="employeeDef.userName" required />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="BLOOD_GROUP"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tBlookGroup" name="tBlookGroup" ng-model="employeeDef.bloodGroup" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="BIRTH_DATE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tDOB" name="tDOB" ng-model="employeeDef.dateOfBirth" data-date-format="dd/mm/yyyy" datepicker required /> <!--data-date-format="dd/mm/yyyy"--> 
                                            <div class="help-inline" ng-show="staffForm.tDOB.$error.required && staffForm.tDOB.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="PROBATION_EXPIRE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tProbationExpire" name="tProbationExpire" ng-model="employeeDef.probationEndDate" data-date-format="dd/mm/yyyy" datepicker required />
                                            <div class="help-inline" ng-show="staffForm.tProbationExpire.$error.required && staffForm.tProbationExpire.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="CONTRACT_EXPIRE"></span> :</label>
                                        <div class="controls">
                                            <input type="text" id="tContactExpire" name="tContactExpire" ng-model="employeeDef.serviceEndDate" data-date-format="dd/mm/yyyy" datepicker required />
                                            <div class="help-inline" ng-show="staffForm.tContactExpire.$error.required && staffForm.tContactExpire.$dirty">*</div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"><span translate="GENDER"></span> :</label>
                                        <div class="controls">
                                            <select id="cGender" name="cGender" ng-if="lang=='en_US'" ng-model="employeeDef.genderId" ng-options="gender.id as gender.nameEn for gender in genders"></select>
                                            <select id="cGender" name="cGender" ng-if="lang=='ar_OM'" ng-model="employeeDef.genderId" ng-options="gender.id as gender.nameAr for gender in genders"></select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="cStatus"><span translate="STATUS"></span> :</label>
                                        <div class="controls">
                                            <select id="cStatus" name="cStatus" ng-if="lang=='en_US'" ng-model="employeeDef.statusId" ng-options="status.id as status.nameEn for status in employeeStatus" required></select>
                                            <select id="cStatus" name="cStatus" ng-if="lang=='ar_OM'" ng-model="employeeDef.statusId" ng-options="status.id as status.nameAr for status in employeeStatus" required></select>
                                            <div class="help-inline" ng-show="staffForm.cStatus.$error.required && staffForm.cStatus.$dirty">*</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-actions" ng-if="authentication.isHRMSAdmin">
                            <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="save(employeeDef)" ng-disabled="staffForm.$invalid">
                                <i class="icon-save"></i>
                                <span translate="SAVE"></span>
                            </button>
                            <button type="submit" id="cmdSaveAddNew" class="btn btn-primary" ng-click="saveAddNew(employeeDef)" ng-disabled="staffForm.$invalid">
                                <i class="icon-save"></i>
                                <span translate="SAVE_AND_ADD_NEW"></span>
                            </button>
                            <a id="cmdCancel" class="btn btn-inverse" href="/HRMSPortal/employee">
                                <i class="icon-undo"></i>
                                <span translate="CANCEL"></span>
                            </a>
                        </div>
                        <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

    <script type="text/javascript">
        $(function () {
            $('.sidebar-menu > .active').removeClass('active open');
            $('#liHRMS, #liStaffRegistration').addClass('active open');
            $('#tDOB, #tDOE').datepicker({
                format: 'dd/mm/yyyy',
                autoclose:'true'
            });

        });
    </script>
