<div class="container-fluid" data-ng-init="loadEmployeeLeaveTicketDetail()">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                <span translate="EMPLOYEES"></span>  <small> <span translate="DETAIL"></span>  </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    HRMS <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/{{mainPortal}}/employee"><span translate="EMPLOYEES"></span> </a><span class="divider">&nbsp;</span></li>
                <li>
                    <a href="#"><span translate="LEAVES_TICKETS"></span></a><span class="divider-last">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div ng-hide="isBusy">
        <div class="progress progress-striped active">
            <div style="width: 100%;" class="bar"></div>
        </div>
    </div>
    <div class="row-fluid " ng-show="isBusy">
        <div class="span12">
            <div class="widget widget-tabs">
                <div class="widget-title">
                    <h4><i class="icon-user"></i>Profile</h4>
                </div>

                <div class="widget-body">
                    <div class="tabbable">
                        <!--ng-init="tab=1"  set this in controller as tab=1  -->
                        <ul class="nav nav-tabs">
                            <li ng-class="{active:isTabSelected(3)}"><a href="" ng-click="setTab(3)"><span translate="TICKET"></span></a></li>
                            <li ng-class="{active:isTabSelected(2)}"><a href="" ng-click="setTab(2)"><span translate="LEAVES"></span></a></li>
                            <li ng-class="{active:isTabSelected(1)}"><a href="" ng-click="setTab(1)"><span translate="SUMMARY"></span></a></li>
                        </ul>
                        <div class="tab-pane" id="tab1" ng-show="isTabSelected(1)">
                            <div class="span2">
                                <div class="text-center profile-pic polaroid">
                                    <p ng-show="mainPortal=='HRMSPortal'">{{ employee.nameEn.length > 1 ? employee.nameEn : employee.nameAr | limitTo:25 }} </p>
                                    <p ng-show="mainPortal=='HRMSPortalAr'">{{ employee.nameAr.length > 1 ? employee.nameAr : employee.nameEn | limitTo:25 }}</p>
                                    <img data-img-loading-value="{{employee.picture}}" data-img-loading-size="profile" alt="" />
                                </div>
                                <ul class="nav nav-stacked" ng-if="authentication.isHRMSAdmin">
                                    <li><a ng-href="/{{mainPortal}}/employee/detail/{{employee.id}}"><i class="icon-user"></i> <span translate="VIEW_PROFILE"></span></a></li>
                                    <li><a href="" ng-click="showPassport(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_LEAVE"></span></a></li>
                                    <li><a href="" ng-click="showVisa(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_TICKET"></span></a></li>
                                </ul>

                            </div>
                            <div class="span7">
                                <h4>{{ mainPortal=='HRMSPortal' ? (employee.nameEn.length > 1 ? employee.nameEn : employee.nameAr) : (employee.nameAr.length > 1 ? employee.nameAr : employee.nameEn) }} - {{ employee.rank }} <br /><small>{{ employee.departmentName}} </small></h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="span3"><span translate="CODE"></span> :</td>
                                            <td>
                                                {{ employee.code}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span3"><span translate="CONTRACT"></span> :</td>
                                            <td>
                                                <span class="label label-success">{{employee.currentContractStart | date:'dd MMM yyyy'}}</span> ~ <span class="label label-important">{{employee.currentContractEnd | date:'dd MMM yyyy'}}</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="span3"><span translate="CONTRACT_YEAR"></span> :</td>
                                            <td>
                                                <span class="label label-success">{{employee.currentContractYearStart | date:'dd MMM yyyy'}}</span> ~ <span class="label label-warning">{{employee.currentContractYearEnd | date:'dd MMM yyyy'}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span3"> <span translate="LEAVE_SUMMARY"></span> :</td>
                                            <td>
                                                {{ employee[0].appointment | date:'longDate' }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span3"><span translate="TICKET_SUMMARY"></span> :</td>
                                            <td>
                                                {{ employee[0].dateOfBirth | date:'longDate' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>               
                                <hr />
                             
                            </div>
                            <div class="span3">
                                <h4 class="alert alert-info"><span translate="LAST_LEAVE"></span></h4>
                                <ul class="icons push" ng-repeat="pemp in employee[0].previousEmployments">
                                    <li>
                                        <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i> <strong>{{pemp.companyName}}</strong><br /><em>
                                            <span translate="START_DATE"></span> : {{pemp.startDate | date:'longDate'}}
                                        </em><br /><em><span translate="END_DATE"></span> : {{ pemp.endDate | date:'longDate' }}</em><br>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab2" ng-show="isTabSelected(2)">
                            <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="LEAVE_DETAIL"></span></strong>
                            <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }"><a ng-if="authentication.isHRMSAdmin" href="" ng-click="showLeave(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_LEAVE"></span></a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="widget" ng-repeat="cont in employee[0].contract">
                                        <div class="widget-title" style="background-color: darkgray; border-color: darkgray;">
                                            <h4><i class="icon-time"></i>&nbsp; <span class="label label-success">{{cont.startDate | date:'dd MMM yyyy'}}</span> ~ <span class="label label-important">{{cont.endDate | date:'dd MMM yyyy'}}</span></h4>
                                            <span class="tools" ng-if="authentication.isHRMSAdmin">
                                                <a class="icon-edit" ng-href="/INVPortal/item/detail/updatestock/{{cont.contractId}}/"></a>
                                            </span>
                                        </div>
                                        <div class="widget-body" style="border-color: darkgray;">
                                            <a class="pull-right" ng-if="authentication.isHRMSAdmin && cont.leaveCategory.length==0" href="" ng-click="showLeaveCategory(employee[0].id)">
                                                <i class="icon-external-link"></i> <span translate="ADD_LEAVE_CATEGORY"></span>
                                            </a>
                                            <div ng-repeat="leavecat in cont.leaveCategory">
                                                <div class="row-fluid">
                                                    <div class="alert alert-info" style="height:24px;">
                                                        <span class="span3">
                                                            Leave : {{leavecat.leaveDetail.leaveName}}
                                                        </span>
                                                        <span class="span3">
                                                            Type : {{leavecat.leaveDetail.typeDetail.nameEn}}
                                                        </span>
                                                        <span class="span3">
                                                            Schedule : {{leavecat.leaveDetail.scheduleDetail.nameEn}}
                                                        </span>
                                                        <span class="span3">
                                                            Total Days : {{leavecat.totalLeaves}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <table style="background:transparent;" class="table table-bordered table-advance table-hover" ng-if="cont.leaveCategory.length>0">
                                                    <thead>
                                                        <tr>
                                                            <th class="span1">SN</th>
                                                            <th class="span2">Start</th>
                                                            <th class="span2">End</th>
                                                            <th class="span1">Total</th>
                                                            <th class="span1">Transfer</th>
                                                            <th class="span1">Deduct</th>
                                                            <th class="span1">Avail</th>
                                                            <th class="span1">Remaining</th>
                                                            <th class="span1">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="year in leavecat.leaveYears" id="tr{{serial.itemStockSerialId}}">
                                                            <td style="vertical-align: middle !important;">
                                                                Year : {{$index +1}}
                                                            </td>
                                                            <td style="vertical-align: middle !important;">
                                                                {{year.startDate | date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td style="text-align: left !important;">
                                                                {{year.endDate | date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td style="vertical-align: middle !important;">
                                                                {{year.leaveDays}}
                                                            </td>
                                                            <td>{{year.transferDays}}</td>
                                                            <td>{{year.deductDays}}</td>
                                                            <td>{{year.availDays}}</td>
                                                            <td>{{year.leaveDays + year.transferDays - year.deductDays - year.availDays}}</td>
                                                            <td><a href="" ng-if="checkLeavePeriod(year.startDate,year.endDate)">Add Leaves</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <br /><br />

                                            <a class="pull-right" ng-if="authentication.isHRMSAdmin && cont.ticketCategory.length==0" href="" ng-click="showTicketCategory(employee[0].id)">
                                                <i class="icon-external-link"></i> <span translate="ADD_TICKET_CATEGORY"></span>
                                            </a>

                                            <table class="table table-bordered table-advance table-hover" ng-if="cont.ticketCategory.length>0">
                                                <thead>
                                                    <tr>
                                                        <th class="span1">SN</th>
                                                        <th class="span4">Ticket</th>
                                                        <th class="span3">Schedule</th>
                                                        <th class="span2">Eligibility</th>
                                                        <th class="span2">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ticketcat in cont.ticketCategory">
                                                        <td style="vertical-align: middle !important;">
                                                            {{$index+1}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.ticketName}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.scheduleDetail.nameEn}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.eligibilityDetail.nameEn}}
                                                        </td>
                                                        <td>
                                                            <a style="text-decoration: none;" ng-href="" id="cHistory{{serial.itemStockSerialId}}"><i class="icon-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br /><br />
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <!-- Qualification -->
                        <div class="tab-pane" id="tab3" ng-show="isTabSelected(3)">
                            <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="TICKET_DETAIL"></span></strong>
                            <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }">
                                <a ng-if="authentication.isHRMSAdmin" href="" ng-click="showQualification(employee[0].id)">
                                    <i class="icon-external-link"></i> <span translate="ADD_QUALIFICATION"></span>
                                </a>
                            </span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="widget" ng-repeat="cont in employee[0].contract">
                                        <div class="widget-title" style="background-color: darkgray; border-color: darkgray;">
                                            <h4><i class="icon-time"></i>&nbsp; <span class="label label-success">{{cont.startDate | date:'dd MMM yyyy'}}</span> ~ <span class="label label-important">{{cont.endDate | date:'dd MMM yyyy'}}</span></h4>
                                            <span class="tools" ng-if="authentication.isHRMSAdmin">
                                                <a class="icon-edit" ng-href="/INVPortal/item/detail/updatestock/{{cont.contractId}}/"></a>
                                            </span>
                                        </div>
                                        <div class="widget-body" style="border-color: darkgray;">
                                            <a class="pull-right" ng-if="authentication.isHRMSAdmin && cont.leaveCategory.length==0" href="" ng-click="showLeaveCategory(employee[0].id)">
                                                <i class="icon-external-link"></i> <span translate="ADD_LEAVE_CATEGORY"></span>
                                            </a>
                                            <div ng-repeat="leavecat in cont.leaveCategory">
                                                <div class="row-fluid">
                                                    <div class="alert alert-info" style="height:24px;">
                                                        <span class="span3">
                                                            Leave : {{leavecat.leaveDetail.leaveName}}
                                                        </span>
                                                        <span class="span3">
                                                            Type : {{leavecat.leaveDetail.typeDetail.nameEn}}
                                                        </span>
                                                        <span class="span3">
                                                            Schedule : {{leavecat.leaveDetail.scheduleDetail.nameEn}}
                                                        </span>
                                                        <span class="span3">
                                                            Total Days : {{leavecat.totalLeaves}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <table style="background:transparent;" class="table table-bordered table-advance table-hover" ng-if="cont.leaveCategory.length>0">
                                                    <thead>
                                                        <tr>
                                                            <th class="span1">SN</th>
                                                            <th class="span2">Start</th>
                                                            <th class="span2">End</th>
                                                            <th class="span1">Total</th>
                                                            <th class="span1">Transfer</th>
                                                            <th class="span1">Deduct</th>
                                                            <th class="span1">Avail</th>
                                                            <th class="span1">Remaining</th>
                                                            <th class="span1">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="year in leavecat.leaveYears" id="tr{{serial.itemStockSerialId}}">
                                                            <td style="vertical-align: middle !important;">
                                                                Year : {{$index +1}}
                                                            </td>
                                                            <td style="vertical-align: middle !important;">
                                                                {{year.startDate | date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td style="text-align: left !important;">
                                                                {{year.endDate | date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td style="vertical-align: middle !important;">
                                                                {{year.leaveDays}}
                                                            </td>
                                                            <td>{{year.transferDays}}</td>
                                                            <td>{{year.deductDays}}</td>
                                                            <td>{{year.availDays}}</td>
                                                            <td>{{year.leaveDays + year.transferDays - year.deductDays - year.availDays}}</td>
                                                            <td><a href="" ng-if="checkLeavePeriod(year.startDate,year.endDate)">Add Leaves</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <br /><br />

                                            <a class="pull-right" ng-if="authentication.isHRMSAdmin && cont.ticketCategory.length==0" href="" ng-click="showTicketCategory(employee[0].id)">
                                                <i class="icon-external-link"></i> <span translate="ADD_TICKET_CATEGORY"></span>
                                            </a>

                                            <table class="table table-bordered table-advance table-hover" ng-if="cont.ticketCategory.length>0">
                                                <thead>
                                                    <tr>
                                                        <th class="span1">SN</th>
                                                        <th class="span4">Ticket</th>
                                                        <th class="span3">Schedule</th>
                                                        <th class="span2">Eligibility</th>
                                                        <th class="span2">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="ticketcat in cont.ticketCategory">
                                                        <td style="vertical-align: middle !important;">
                                                            {{$index+1}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.ticketName}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.scheduleDetail.nameEn}}
                                                        </td>
                                                        <td style="vertical-align: middle !important;">
                                                            {{ticketcat.ticketDetail.eligibilityDetail.nameEn}}
                                                        </td>
                                                        <td>
                                                            <a style="text-decoration: none;" ng-href="" id="cHistory{{serial.itemStockSerialId}}"><i class="icon-plus"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br /><br />
                                        </div>
                                    </div>
                                </div>
                            </div>                            

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

