<style type="text/css">
    .datepicker {
        z-index: 515100 !important;
    }
</style>


<div class="container-fluid" data-ng-init="loadEmployeeDetail()">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                <span translate="EMPLOYEES"></span>  <small> <span translate="DETAIL"></span>  </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    HRMS <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/{{mainPortal}}/employee"><span translate="EMPLOYEES"></span> </a><span class="divider">&nbsp;</span></li>
                <li>
                    <a href="#"><span translate="PROFILE"></span></a><span class="divider-last">&nbsp;</span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div ng-hide="isBusy">
        <div class="progress progress-striped active">
            <div style="width: 100%;" class="bar"></div>
        </div>
    </div>
    <div class="row-fluid " ng-show="isBusy">
        <div class="span12">
                <div class="widget widget-tabs">
                    <div class="widget-title">
                        <h4><i class="icon-user"></i>&nbsp;Profile</h4> 
                    </div>

                    <div class="widget-body">
                        <div class="tabbable">
                            <!--ng-init="tab=1"  set this in controller as tab=1  -->
                            <ul class="nav nav-tabs">
                                <li ng-class="{active:isTabSelected(6)}"><a href="" ng-click="setTab(6)"><span translate="KIN_INFORMATION"></span></a></li>
                                <li ng-class="{active:isTabSelected(5)}"><a href="" ng-click="setTab(5)"><span translate="FAMILY_DETAIL"></span></a></li>
                                <li ng-class="{active:isTabSelected(4)}"><a href="" ng-click="setTab(4)"><span translate="PREVIOUS_EMPLOYMENT"></span></a></li>
                                <li ng-class="{active:isTabSelected(3)}"><a href="" ng-click="setTab(3)"><span translate="QUALIFICATION"></span></a></li>
                                <li ng-class="{active:isTabSelected(2)}"><a href="" ng-click="setTab(2)"><span translate="PASSPORT"></span> / <span translate="VISA"></span></a></li>
                                <li ng-class="{active:isTabSelected(1)}"><a href="" ng-click="setTab(1)"><span translate="SUMMARY"></span></a></li>
                            </ul>
                            <div class="tab-pane" id="tab1" ng-show="isTabSelected(1)">
                                <div class="span2">
                                    <div class="text-center profile-pic polaroid">
                                        <p ng-show="mainPortal=='HRMSPortal'">{{ employee[0].employeeName.length > 1 ? employee[0].employeeName : employee[0].employeeNameAr | limitTo:25 }} </p>
                                        <p ng-show="mainPortal=='HRMSPortalAr'">{{ employee[0].employeeNameAr.length > 1 ? employee[0].employeeNameAr : employee[0].employeeName | limitTo:25 }}</p>
                                        <img data-img-loading-value="{{employee[0].empPicture}}" data-img-loading-size="profile" alt=""/>
                                        <!--<img src="/Content/img/profile-pic.jpg" ng-show="!employee[0].empPicture" style="height: 220px; width: 220px;"

                                                 width="220px" height="220px"/>
                                        <img ng-show="employee[0].empPicture" src="data:image/jpeg;base64,{{employee[0].empPicture}}" style="height: 220px; width:

                                        220px;" width="220px" height="220px" alt="">-->
                                    </div>
                                    <ul class="nav nav-stacked" ng-if="authentication.isHRMSAdmin">
                                        <li><a ng-href="/{{mainPortal}}/employee/edit/{{employee[0].id}}"><i class="icon-save"></i> <span translate="UPDATE"></span></a></li>
                                        <li><a href="" ng-click="showPassport(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_PASSPORT"></span></a></li>
                                        <li><a href="" ng-click="showVisa(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_VISA"></span></a></li>
                                        <li><a href="" ng-click="showPreviousEmployement(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_PREVIOUS_EMPLOYMENT"></span></a></li>
                                        <li><a href="" ng-click="showChild(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_CHILDREN"></span></a></li>
                                        <li><a href="" ng-click="showImageForm(employee[0].id)"><i class="icon-camera-retro"></i> <span translate="UPDATE_PICTURE"></span></a></li>
                                        <li><a ng-href="/{{mainPortal}}/employee/leaveticket/{{employee[0].id}}"><i class="icon-plane"></i> <span translate="LEAVES_TICKETS"></span></a></li>
                                    </ul>

                                </div>
                                <div class="span7">
                                    <h4>{{ mainPortal=='HRMSPortal' ? (employee[0].employeeName.length > 1 ? employee[0].employeeName : employee[0].employeeNameAr) : (employee[0].employeeNameAr.length > 1 ? employee[0].employeeNameAr : employee[0].employeeName) }} - {{ employee[0].rank }} <br /><small>{{ employee[0].departmentId.departmentName}} </small></h4>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="span2"><span translate="CODE"></span> :</td>
                                                <td>
                                                    {{ employee[0].employeeCode}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"><span translate="REGIMENT"></span> :</td>
                                                <td>
                                                    {{ employee[0].parentRegiment}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="span2"><span translate="NATIONALITY"></span> :</td>
                                                <td>
                                                    {{ employee[0].validationDetailId.nameEn}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"> <span translate="JOINING_DATE"></span> :</td>
                                                <td>
                                                    {{ employee[0].appointment | date:'longDate' }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"><span translate="BIRTH_DATE"></span> :</td>
                                                <td>
                                                    {{ employee[0].dateOfBirth | date:'longDate' }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"> <span translate="BIRTH_PLACE"></span> :</td>
                                                <td>
                                                    {{ employee[0].placeOfBirth }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"> <span translate="RELIGION"></span> :</td>
                                                <td>
                                                    {{ employee[0].religion }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"><span translate="BLOOD_GROUP"></span> :</td>
                                                <td>
                                                    {{ employee[0].bloodGroup }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"><span translate="STATUS"></span> :</td>
                                                <td>
                                                    {{ employee[0].statusDetail.nameEn }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="span2"><span translate="USER_NAME"></span> :</td>
                                                <td>
                                                    {{ employee[0].userName }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h4><span translate="CONTACT_INFORMATION"></span></h4>
                                    <div class="well">
                                        <address>
                                            <strong><span translate="MOBILE"></span></strong><br>
                                            {{ employee[0].mobile }}
                                        </address>
                                        <address>
                                            <strong><span translate="CONTACT_NO"></span>. </strong><br>
                                            {{ employee[0].phone }}
                                        </address>
                                        <address>
                                            <strong><span translate="EMAIL"></span></strong><br>
                                            {{ employee[0].email }}
                                        </address>
                                        <address>
                                            <strong><span translate="RESIDENTIAL_ADDRESS"></span> </strong><br>
                                            {{ employee[0].address }}
                                        </address>
                                        <address>
                                            <strong><span translate="PERMANENT_ADDRESS"></span></strong><br>
                                            {{ employee[0].permanentAddress }}
                                        </address>
                                    </div>
                                    <hr />
                                    <a ng-if="authentication.isHRMSAdmin" ng-href="/{{mainPortal}}/employee/edit/{{employee[0].id}}" class="btn btn-info">
                                        <i class="icon-save"></i>
                                        <span translate="UPDATE"></span>
                                    </a>
                                </div>
                                <div class="span3">
                                    <h4 class="alert alert-info"><span translate="PREVIOUS_EMPLOYEMENT"></span></h4>
                                    <ul class="icons push" ng-repeat="pemp in employee[0].previousEmployments">
                                        <li>
                                            <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i> <strong>{{pemp.companyName}}</strong><br /><em>
                                                <span translate="START_DATE"></span> : {{pemp.startDate | date:'longDate'}}
                                            </em><br /><em><span translate="END_DATE"></span> : {{ pemp.endDate | date:'longDate' }}</em><br>
                                        </li>
                                    </ul>
                                    <!--<h4>Current Status</h4>
                                        <div class="alert alert-success"><i class="icon-ok-sign"></i> Working in ABC Company</div>
                                        <h4>Some Projects</h4>
                                        <ul class="unstyled">
                                            <li> <strong>Project 1</strong>: <a href="javascript:void(0)">exampleproject1.com</a></li>
                                            <li> <strong>Project 2</strong>: <a href="javascript:void(0)">exampleproject2.com</a></li>
                                            <li> <strong>Project 3</strong>: <a href="javascript:void(0)">exampleproject3.com</a></li>
                                            <li> <strong>Project 4</strong>: <a href="javascript:void(0)">exampleproject4.com</a></li>
                                            <li> <strong>Project 5</strong>: <a href="javascript:void(0)">exampleproject5.com</a></li>
                                        </ul>-->
                                </div>

                            </div>

                            <div class="tab-pane" id="tab2" ng-show="isTabSelected(2)">
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="PASSPORT_INFORMATION"></span></strong>
                                <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }"><a ng-if="authentication.isHRMSAdmin" href="" ng-click="showPassport(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_PASSPORT"></span></a></span>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <table class="table table-striped table-bordered table-advance table-hover" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th><span translate="PASSPORT_NO"></span></th>
                                                    <th><span translate="ISSUE_DATE"></span></th>
                                                    <th><span translate="EXPIRE_DATE"></span></th>
                                                    <th><span translate="STATUS"></span></th>
                                                    <th ng-if="authentication.isHRMSAdmin"><span translate="ACTION"></span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd" ng-repeat="passport in employee[0].employeePassports">
                                                    <td ng-if="authentication.isHRMSAdmin"><a href="" ng-click="editPassport(passport)">{{ passport.passportNo}}</a>  </td>
                                                    <td ng-if="authentication.isSystemAdmin || authentication.isHRMSUser">{{ passport.passportNo}}</td>
                                                    <td>{{ passport.issueDate | date:'longDate'}}</td>
                                                    <td><label>{{ passport.expiryDate | date:'longDate'}}</label></td>
                                                    <td>
                                                        <label ng-class="{'label label-info': passport.statusId, 'label label-inverse': passport.statusId==0}">
                                                            <ng-pluralize count="passport.statusId" when="{'0':'expire', '1':'active'}"></ng-pluralize>
                                                        </label>
                                                    </td>
                                                    <td ng-if="authentication.isHRMSAdmin">
                                                        <a href="" ng-click="deletePassport(passport)"> <i class="icon-trash red"></i></a>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br /><br />
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="VISA_INFORMATION"></span></strong>
                                <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }"><a ng-if="authentication.isHRMSAdmin" href="" ng-click="showVisa(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_VISA"></span></a></span>
                                <div class="row-fluid">
                                    <div class="span12">
                                        <table class="table table-striped table-bordered table-advance table-hover" id="sample_1">
                                            <thead>
                                                <tr>
                                                    <th><span translate="VISA_NO"></span></th>
                                                    <th><span translate="ISSUE_DATE"></span></th>
                                                    <th><span translate="EXPIRE_DATE"></span></th>
                                                    <th><span translate="STATUS"></span></th>
                                                    <th ng-if="authentication.isHRMSAdmin"><span translate="ACTION"></span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="odd " ng-repeat="visa in employee[0].employeeVisas">
                                                    <td ng-if="authentication.isHRMSAdmin"><a href="" ng-click="editVisa(visa)">{{ visa.visaNumber}}</a></td>
                                                    <td ng-if="authentication.isSystemAdmin || authentication.isHRMSUser">{{ visa.visaNumber}}</td>
                                                    <td>{{ visa.issueDate | date:'longDate'}}</td>
                                                    <td>{{ visa.expiryDate | date:'longDate'}}</td>
                                                    <td>
                                                        <label ng-class="{'label label-info': visa.statusId, 'label label-inverse': visa.statusId==0}">
                                                            <ng-pluralize count="visa.statusId" when="{'0':'expire', '1':'active'}"></ng-pluralize>
                                                        </label>

                                                    </td>
                                                    <td ng-if="authentication.isHRMSAdmin">
                                                        <a href="" ng-click="deleteVisa(visa)"> <i class="icon-trash red"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!-- Qualification -->
                            <div class="tab-pane" id="tab3" ng-show="isTabSelected(3)">
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="QUALIFICATION_INFORMATION"></span></strong>
                                <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }">
                                    <a ng-if="authentication.isHRMSAdmin" href="" ng-click="showQualification(employee[0].id)">
                                        <i class="icon-external-link"></i> <span translate="ADD_QUALIFICATION"></span>
                                    </a>
                                </span>
                                <table class="table table-striped table-bordered table-advance">
                                    <thead>
                                        <tr>
                                            <th><span translate="SERIAL_NO"></span>.</th>
                                            <th><span translate="DEGREE"></span></th>
                                            <th><span translate="UNIVERSITY"></span></th>
                                            <th><span translate="LEVEL"></span></th>
                                            <th ng-if="authentication.isHRMSAdmin"><span translate="ACTION"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="qualification in employee[0].employeeQualifications">
                                            <td>{{$index + 1}}</td>
                                            <td ng-if="authentication.isHRMSAdmin"><a href="" title="{{qualification.educationDegree}}" ng-click="editQualification(qualification)">{{qualification.educationDegree | limitTo:50}}</a></td>
                                            <td ng-if="authentication.isSystemAdmin || authentication.isHRMSUser">{{qualification.educationDegree | limitTo:50}}</td>
                                            <td>{{qualification.educationSchool}}</td>
                                            <td>{{qualification.qualificationLevel.nameEn}}</td>
                                            <td ng-if="authentication.isHRMSAdmin">
                                                <a href="" ng-click="deleteQualification(qualification)"> <i class="icon-trash red"></i></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                                <!--<form id="frmQualification" name="frmQualification" novalidate>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label">Educational (School Level) :</label>
                                                    <div class="controls">
                                                        <textarea id="tSchoolLevel" name="tSchoolLevel" ng-model="employee[0].employeeQualifications[0].educationSchool" class="span12"></textarea>
                                                        <div class="help-inline" ng-show="staffForm.tCode.$error.required && staffForm.tCode.$dirty">*</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">Educational Degrees :</label>
                                                    <div class="controls">
                                                        <textarea id="tDegree" name="tDegree" class="span12" ng-model="employee[0].employeeQualifications[0].educationDegree"></textarea>
                                                        <div class="help-inline" ng-show="staffForm.cNationality.$error.required && staffForm.cNationality.$dirty">*</div>
                                                    </div>
                                                </div>
                                                <div class="form-actions">
                                                    <a id="cmdSave" class="btn btn-primary" ng-click="saveEmployeeQualification(employee[0].id, employee[0].employeeQualifications[0])" ng-disabled="staffForm.$isvalid">
                                                        <i class="icon-save"></i>
                                                        Update
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>-->
                            </div>

                            <!-- Previous Employment -->
                            <div class="tab-pane" id="tab4" ng-show="isTabSelected(4)">
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="PREVIOUS_EMPLOYMENT"></span></strong>
                                <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }">
                                    <a ng-if="authentication.isHRMSAdmin" href="" ng-click="showPreviousEmployement(employee[0].id)">
                                        <i class="icon-external-link"></i> <span translate="ADD_PREVIOUS_EMPLOYMENT"></span>
                                    </a>
                                </span>
                                <table class="table table-striped table-bordered table-advance">
                                    <thead>
                                        <tr>
                                            <th><span translate="SERIAL_NO"></span>.</th>
                                            <th><span translate="COMPANY_NAME"></span></th>
                                            <th><span translate="START_DATE"></span></th>
                                            <th><span translate="END_DATE"></span></th>
                                            <th ng-if="authentication.isHRMSAdmin"><span translate="ACTION"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pemployment in employee[0].previousEmployments">
                                            <td>{{$index + 1}}</td>
                                            <td>{{pemployment.companyName}}</td>
                                            <td>{{pemployment.startDate | date:'longDate'}}</td>
                                            <td>{{pemployment.endDate | date:'longDate' }}</td>
                                            <td ng-if="authentication.isHRMSAdmin">
                                                <a href="" ng-click="deletePreviousEmployement(pemployment)"> <i class="icon-trash red"></i></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                            <!-- Family Detail -->
                            <div class="tab-pane" id="tab5" ng-show="isTabSelected(5)">
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="MARITAL_STATUS"></span></strong>
                                <hr />
                                <form id="frmFamily" name="frmFamily" novalidate>
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <div class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="STATUS"></span> :</label>
                                                    <div class="controls">
                                                        <select name="cFamilyStatus" ng-if="lang=='en_US'" ng-model="employee[0].employeeMarital[0].maritalStatusId" ng-options="marital.id as marital.nameEn for marital in maritals"></select>
                                                        <select name="cFamilyStatus" ng-if="lang=='ar_OM'" ng-model="employee[0].employeeMarital[0].maritalStatusId" ng-options="marital.id as marital.nameAr for marital in maritals"></select>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="BIRTH_DATE"></span> :</label>
                                                    <div class="controls">
                                                        <input type="text" id="tFamilyBirthDate" name="tFamilyBirthDate" ng-model="employee[0].employeeMarital[0].birthDate" data-date-format="dd/mm/yyyy" datepicker />
                                                        <div class="help-inline" ng-show="frmFamily.tFamilyBirthDate.$error.required && frmFamily.tFamilyBirthDate.$dirty">*</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="MARRIAGE_DATE"></span> :</label>
                                                    <div class="controls">
                                                        <input type="text" id="tMarriageDate" name="tMarriageDate" ng-model="employee[0].employeeMarital[0].marriageDate" data-date-format="dd/mm/yyyy" datepicker />
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="NATIONALITY"></span> :</label>
                                                    <div class="controls">
                                                        <select id="cFamilyNationality" name="cFamilyNationality" ng-model="employee[0].employeeMarital[0].nationalityId" ng-options="nationality.id as nationality.nameEn for nationality in nationalities"></select>
                                                        <div class="help-inline" ng-show="frmFamily.cFamilyNationality.$error.required && frmFamily.cFamilyNationality.$dirty">*</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="span6">
                                            <div class="form-horizontal">
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="SPOUSE_NAME"></span> :</label>
                                                    <div class="controls">
                                                        <input type="text" id="tSpouseName" name="tSpouseName" ng-model="employee[0].employeeMarital[0].spouseName" />
                                                        <div class="help-inline" ng-show="frmFamily.tSpouseName.$error.required && frmFamily.tSpouseName.$dirty">*</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="BIRTH_PLACE"></span> :</label>
                                                    <div class="controls">
                                                        <input type="text" id="tFamilyBirthPlace" name="tFamilyBirthPlace" ng-model="employee[0].employeeMarital[0].birthPlace" />
                                                        <div class="help-inline" ng-show="frmFamily.tFamilyBirthPlace.$error.required && frmFamily.tFamilyBirthPlace.$dirty">*</div>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label"><span translate="MARRIAGE_PLACE"></span> :</label>
                                                    <div class="controls">
                                                        <input type="text" id="tMarriagePlace" name="tMarriagePlace" ng-model="employee[0].employeeMarital[0].marriagePlace" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions" ng-if="authentication.isHRMSAdmin">
                                        <a id="cmdSave" class="btn btn-primary" ng-click="saveEmployeeMarital(employee[0].id, employee[0].employeeMarital[0])" ng-disabled="staffForm.$isvalid">
                                            <i class="icon-save"></i>
                                            <span translate="UPDATE"></span>
                                        </a>
                                    </div>

                                    <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i>  <strong><span translate="CHILDREN"></span></strong>
                                    <span ng-class="{ 'pull-right' : lang=='en_US', 'pull-left' : lang=='ar_OM' }"><a ng-if="authentication.isHRMSAdmin" href="" ng-click="showChild(employee[0].id)"><i class="icon-external-link"></i> <span translate="ADD_CHILDREN"></span></a></span>
                                    <hr />
                                    <table class="table table-striped table-bordered table-advance">
                                        <thead>
                                            <tr>
                                                <th><span translate="SERIAL_NO"></span>.</th>
                                                <th><span translate="NAME"></span></th>
                                                <th><span translate="AGE"></span></th>
                                                <th><span translate="GENDER"></span></th>
                                                <th ng-if="authentication.isHRMSAdmin"><span translate="ACTION"></span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="child in employee[0].childrens">
                                                <td>{{ $index + 1}}</td>
                                                <td>{{child.childrenName}}</td>
                                                <td>{{child.birthDate | date:'longDate'}}</td>
                                                <td>{{child.childGenderDetail.nameEn}}</td>
                                                <td ng-if="authentication.isHRMSAdmin">
                                                    <a href="" ng-click="deleteEmployeeChild(child)"> <i class="icon-trash red"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </form>
                            </div>
                            <div class="tab-pane" id="tab6" ng-show="isTabSelected(6)">
                            <form id="frmKin" name="frmKin" novalidate>
                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i> <strong><span translate="NEXT_OF_KIN_DETAIL"></span></strong>
                                <hr/>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label"><span translate="NAME"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinFullName" name="tKinFullName" ng-model="employee[0].employeeKin[0].fullName1"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="COUNTRY"></span> :</label>
                                                <div class="controls">
                                                    <select id="cCountry1" name="cCountry1" ng-model="employee[0].employeeKin[0].countryId1" ng-options="country.id as country.nameEn for country in countries"></select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="RESIDENTIAL_ADDRESS"></span> :</label>
                                                <div class="controls">
                                                    <textarea id="tKinAddress" name="tKinAddress" ng-model="employee[0].employeeKin[0].address1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label"><span translate="RELATIONSHIP"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinRelationship" name="tKinRelationshiop" ng-model="employee[0].employeeKin[0].relationship1"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="AIRPORT"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinRelationship" name="tKinRelationshiop" ng-model="employee[0].employeeKin[0].airport1"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i> <strong><span translate="ADDITIONAL_NEXT_OF_KIN_DETAIL"></span> (if any)</strong>
                                <hr/>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label"><span translate="NAME"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinFullName" name="tKinFullName" ng-model="employee[0].employeeKin[0].fullName2"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="COUNTRY"></span> :</label>
                                                <div class="controls">
                                                    <select id="cCountry2" name="cCountry2" ng-model="employee[0].employeeKin[0].countryId2" ng-options="country.id as country.nameEn for country in countries"></select>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="RESIDENTIAL_ADDRESS"></span> :</label>
                                                <div class="controls">
                                                    <textarea id="tKinAddress" name="tKinAddress" ng-model="employee[0].employeeKin[0].address2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label"><span translate="RELATIONSHIP"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinRelationship" name="tKinRelationshiop" ng-model="employee[0].employeeKin[0].relationship2"/>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label"><span translate="AIRPORT"></span> :</label>
                                                <div class="controls">
                                                    <input type="text" id="tKinRelationship" name="tKinRelationshiop" ng-model="employee[0].employeeKin[0].airport2"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <i ng-class="{'icon-hand-right' : lang=='en_US', 'icon-hand-left' : lang=='ar_OM'}"></i> <strong><span translate="NOTE"></span></strong>
                                <em>(Incase of accident who should be contacted as alternative to or additional to Next of Kin)</em>
                                <hr/>
                                <textarea id="tNote" name="tNode" class="input-xxlarge span12" rows="4" ng-model="employee[0].employeeKin[0].notes"></textarea>

                                <div class="form-actions" ng-if="authentication.isHRMSAdmin">
                                    <a id="cmdSave" class="btn btn-primary" ng-click="saveEmployeeKin(employee[0].id, employee[0].employeeKin[0])" ng-disabled="frmKin.$isvalid">
                                        <i class="icon-save"></i>
                                        <span translate="UPDATE"></span>
                                    </a>
                                </div>
                                <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                            </form>
                        </div>

                        </div>
                    </div>

                </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.sidebar-menu > .active').removeClass('active open');
        $('#liHRMS, #liStaffRegistration').addClass('active open');
        //$('#tIssueDate, #tDOE').datepicker({
        //    format: 'dd/mm/yyyy',
        //    autoclose:'true'
        //});

        $('#tIssueDate').datepicker({
            format: 'dd/mm/yyyy'
        })
        .on('changeDate', function (ev) {
            $('#tIssueDate').datepicker('hide');
        });

        $('#tExpirtyDate').datepicker({
            format: 'dd/mm/yyyy'
        })
        .on('changeDate', function (ev) {
            $('#tExpirtyDate').datepicker('hide');
        });
    });
</script>
