<div id="dvLeaveCategory" class="modal fade hide" role="dialog" aria-hidden="true" aria-labelledby="Assign Leave Category">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel1"><span translate="ASSIGN_LEAVE_CATEGORY"></span></h3>
    </div>
    <div class="modal-body" data-ng-init="loadLeaveCategory()">
        <form id="frmLeaveCategory" novalidate>
            <div class="form-horizontal">
                <div class="control-group">
                    <label for="cLeaveName" class="control-label"><span translate="CONTRACT"></span> :</label>
                    <div class="controls">
                        <label class="label label-success">{{contract.startDate | date:'dd/MM/yyyy'}}</label> ~ <label class="label label-danger inline">{{contract.endDate | date:'dd/MM/yyyy'}}</label>
                    </div>
                </div>
                <div class="control-group">
                    <label for="cLeaveName" class="control-label"><span translate="LEAVE_NAME"></span> :</label>
                    <div class="controls">
                        <select id="cLeaveName" name="cLeaveName" ng-model="leaveCategory.leaveId" required ng-change="leaveSelect(leaveCategory.leaveId)">
                            <option ng-repeat="leave in leaves" ng-value="leave.leaveId">{{leave.leaveName}}</option>
                        </select>
                        <div class="help-inline" ng-show="frmLeaveCategory.cLeaveName.$error.required && frmLeaveCategory.cLeaveName.$dirty">*</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span translate="SCHEDULE"></span> :</label>
                    <div class="controls">
                        <input type="text" id="tSchedule" name="tSchedule" disabled="disabled"/>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label"><span translate="TOTAL_DAYS"></span> :</label>
                    <div class="controls">
                        <input type="text" id="tTotal" name="tTotal" ng-model="leaveCategory.totalLeaves" required/>
                        <div class="help-inline" ng-show="frmLeaveCategory.tTotal.$error.required && frmLeaveCategory.tTotal.$dirty">*</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true"><span translate="CLOSE"></span></button>
        <button type="submit" class="btn btn-primary" ng-click="saveEmployeeLeaveCategory(parentId, contract.contractId, leaveCategory)" ng-disabled="frmLeaveCategory.$invalid">
            <i class="icon-save"></i>
            <span translate="SAVE"></span>
        </button>
    </div>

</div>
