
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                <span translate="EMPLOYEES"></span> <small> <span translate="LISTINGS"></span> </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{vm.mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">HRMS</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="#"><span translate="EMPLOYEES"></span></a><span class="divider-last">&nbsp;</span></li>
            </ul>
            <span ng-class="{true: 'pull-right', false: 'pull-left'}[mainPortal === 'HRMSPortal']">
                <span translate="SEARCH"></span> : <input type="text" ng-model="filterobj.employeeName" class="search-query" />
            </span>

        </div>
    </div>
    <span class="pull-right"><a ng-if="authentication.isHRMSAdmin" ng-href="/{{vm.mainPortal}}/employee/add" class="btn btn-success"><i class="icon-plus"></i> <span translate="ADD"></span>&nbsp;<span translate="EMPLOYEE"></span></a></span>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div ng-hide="isBusy">
        <div class="progress progress-striped active">
            <div style="width: 100%;" class="bar"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" ng-init="loadEmployees()">

            <div class="row">
            </div>

            <div style="height:30px;">
                <span class="pull-left bottom-left" ng-show="employees.length>0">
                    <span translate="DISPLAYING"></span> {{ range.lower }} - {{ range.upper }} <span translate="OF"></span> {{ range.total }}
                </span>
                <span class="pull-right">
                    <dir-pagination-controls template-url="/Scripts/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
                </span>

            </div>
            <br /><br />
            <div class="span3 fade-in business-card" dir-paginate="employee in employees | filter:filterobj | itemsPerPage: 20">
                <div class="row-fluid">
                    <div class="span4">
                        <img alt="" employee-picture="{{employee.id}}" data-img-loading-size="profile" style="height: 120px; width: 120px;" width="120px" height="120px" />
                    </div>
                    <div class="span8">
                        <br />
                        <p ng-show="mainPortal=='HRMSPortal'"><a class="business-card-link" title="{{employee.name}}" ng-href="/{{vm.mainPortal}}/employee/detail/{{employee.id}}">{{ employee.nameEn.length > 1 ? employee.nameEn : employee.nameAr | limitTo:16}} {{employee.nameEn.length > 16 ? '...' : ''}}</a>
                        </p>
                        <p ng-show="mainPortal=='HRMSPortalAr'"><a class="business-card-link" title="{{employee.nameAr}}" ng-href="/{{vm.mainPortal}}/employee/detail/{{employee.id}}">{{ employee.nameAr.length > 1 ? employee.nameAr : employee.nameEn | limitTo:20}} {{employee.nameAr.length > 20 ? '...' : ''}}</a></p>
                        <i class="icon icon-group" style="color: #fff0f5"></i>&nbsp; {{ employee.departmentName | limitTo:18}} {{employee.departmentName.length > 18 ? '...' : ''}}<br />
                        <i class="icon icon-cogs" style="color: #fff0f5"></i>&nbsp; <small>{{employee.rank}}</small><br />
                        <i ng-show="employee.phone" class="icon icon-phone" style="color: #fff0f5"></i>&nbsp; <small>{{employee.phone}}</small>
                    </div>
                </div>
                <div class="row-fluid bottom center">
                    <div class="offset4"> <a title="View Profile" ng-href="/{{vm.mainPortal}}/employee/detail/{{employee.id}}"><i class="icon icon-user" style="color:#000000"></i></a>&nbsp;<a title="View Leaves / Tickets" ng-href="/{{vm.mainPortal}}/employee/leaveticket/{{employee.id}}"><i class="icon icon-plane" style="color:#000000"></i></a></div>
                </div>
            </div>
            <!--<div id="bcbg" dir-paginate="employee in employees | filter:empSearch | itemsPerPage: 24" data-desktop="span2" data-tablet="span2" class="span3 fade-in">
            <div class="containercard">
                <p class="line1"><a title="{{employee.employeeName}}" ng-href="/{{vm.mainPortal}}/employee/detail/{{employee.id}}">{{ employee.employeeName | limitTo:18}} {{employee.employeeName.length > 18 ? '...' : ''}}</a></p>
                <p class="line2">{{ employee.departmentId.departmentName | limitTo:18}} {{employee.departmentId.departmentName.length > 18 ? '...' : ''}}</p>

                <div class="contact">
                    yourname@example.com<br />
                    www.example.com<br />
                    ###-###-####
                </div>
                <div class="logo">
                    <img alt="" data-img-loading-value="{{employee.empPicture}}" data-img-loading-size="mini" style="height: 48px; width: 48px;" width="48px" height="48px" />
                </div>
            </div>
        </div>-->
            <!--<div class="row">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i>Listing</h4>
                        <span class="tools">
                            <a class="icon-plus-sign" href="/{{vm.mainPortal}}/department/add"></a>
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="control-group pull-left">
                                    <label class="control-label">
                                        Record Per Page:
                                    </label>
                                    <div class="controls">
                                        <select ng-model="recordPage" ng-init="recordPage=5" class="input-small m-wrap">
                                            <option value="5" selected="selected">5</option>
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                        </select>
                                    </div>
                                </div>
                                <span class="pull-right">
                                    search : <input type="text" ng-model="departmentSearch" />
                                </span>
                            </div>
                            <br />
                            <div class="span3" ng-repeat="employee in filtered = (employees | filter:empSearch)">
                                <div class="metro-overview green-color clearfix">
                                    <div class="display">
                                        <img src="/Content/img/avatar.png" ng-show="!employee.empPicture" /><img ng-show="employee.empPicture" src="data:image/jpeg;base64,{{employee.empPicture}}" style="height: 48px; width: 48px;" width="48px" height="48px" />
                                        <div class="percent">{{ employee.employeeCode}}</div>
                                    </div>
                                    <div class="details">
                                        <div class="number"><a ng-href="/{{vm.mainPortal}}/employee/detail/{{ employee.id}}">{{ employee.employeeName}}</a></div>
                                        <div class="title">{{ employee.departmentId.departmentName}}</div>
                                        <div class="title">{{ employee.rank}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>