
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                {{validation.nameEn}} <small> update </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/{{mainPortal}}/definition/validation/{{validation.id}}">{{validation.nameEn}} List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid ">
        <div class="span12">
            <div class="widget widget-tabs">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>{{validation.nameEn}}</h4>
                </div>
                <div class="widget-body" data-ng-init="loadDetail()">
                    <div class="form-horizontal">
                        <form name="frm" novalidate>
                            <div class="control-group">
                                <label class="control-label" for="txtCode">Name </label>
                                <div class="controls">
                                    <input type="text" id="txtCode" ng-model="validationDetail.nameEn" class="input-medium" required />
                                    <div class="help-inline" ng-show="frm.tNameAr.$error.required && frm.tNameAr.$dirty">Please enter arabic name !</div>
                                    <input type="hidden" id="hdId" ng-model="validationDetail.id" />
                                    <input type="hidden" id="hdId" ng-model="validationDetail.validationId" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tNameAr">Name (ar)</label>
                                <div class="controls">
                                    <input type="text" id="tNameAr" ng-model="validationDetail.nameAr" class="input-xlarge" required />
                                    <div class="help-inline" ng-show="frm.tNameAr.$error.required && frm.tNameAr.$dirty">Please enter arabic name !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtDescription">Description</label>
                                <div class="controls">
                                    <input type="text" id="txtDescription" ng-model="validationDetail.description" class="input-xlarge" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtDescription">Status</label>
                                <div class="controls">
                                    <!--<input type="checkbox" id="cActive" name="cActive" ng-model="validationDetail.isActive" ng-true-value="1" ng-false-value="0" />-->
                                    <toggle-switch html="true" id="cActive" model="validationDetail.isActive" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>"></toggle-switch>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="edit(validationDetail)" ng-disabled="frm.$invalid">
                                    <i class="icon-ok"></i>&nbsp;Update
                                </button>
                                <!--<button id="cmdSaveAddNew" class="btn btn-primary" ng-click="save(supplier)" ng-disabled="frm.$invalid">
                            <i class="icon-ok"></i>&nbsp; Save and Add New

                        </button>-->
                                <a id="cmdCancel" class="btn btn-inverse" href="/{{mainPortal}}/definition/validation/{{validationDetail.validationId}}">
                                    <i class=" icon-remove"></i>&nbsp; Cancel
                                </a>
                            </div>
                            <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
