
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                {{validation.nameEn}} <small> Listing </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="">{{validation.nameEn}} List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget" data-ng-init="loadValidationDetails()">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>&nbsp;{{validation.nameEn}}</h4>
                    <span class="tools">
                        <a ng-if="authentication.isHRMSAdmin || authentication.isTRAdmin || authentication.isINVAdmin" class="icon-plus-sign" href="/{{mainPortal}}/definition/validation/{{validation.id}}/add"></a>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="form-horizontal">
                        <div class="control-group pull-left">
                            <label class="control-label">
                                Record Per Page:
                            </label>
                            <div class="controls">
                                <select ng-model="recordPage" ng-init="recordPage=10" class="input-small m-wrap">
                                    <option value="10" selected="selected">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                        </div>
                        <span class="pull-right">
                            search : <input type="text" ng-model="search" />
                        </span>
                    </div>
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Notes</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="isBusy">
                                <td colspan="4">
                                    <div class="progress progress-striped progress-bar-warning active">
                                        <div style="width: 100%;" class="bar"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr dir-paginate="validation in validationDetails | filter:search | itemsPerPage: recordPage">
                                <td ng-if="authentication.isHRMSAdmin || authentication.isTRAdmin || authentication.isINVAdmin">
                                    <a ng-href="/{{mainPortal}}/definition/validation/{{validation.validationId}}/edit/{{ validation.id}}"> {{ validation.nameEn }} </a>
                                </td>
                                <td ng-if="authentication.isSystemAdmin || authentication.isINVUser">{{ validation.nameEn }}</td>
                                <td ng-if="authentication.isHRMSAdmin || authentication.isTRAdmin || authentication.isINVAdmin">
                                    <a ng-href="/{{mainPortal}}/definition/validation/{{validation.validationId}}/edit/{{ validation.id}}"> {{ validation.description }} </a>
                                </td>
                                <td ng-if="authentication.isSystemAdmin || authentication.isINVUser">{{ validation.description }}</td>
                                <td>
                                    <label>
                                        <!--<ng-pluralize count="validation.isActive" when="{'0':'disabled', '1':'active'}"></ng-pluralize>-->
                                        <i ng-show="validation.isActive==1" class="icon-check"></i>
                                        <i ng-show="validation.isActive==0" class="icon-check-empty"></i>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="height:40px;">
                        <span class="pull-left bottom" ng-show="supplier.length>0">
                            Displaying {{ range.lower }} - {{ range.upper }} of {{ range.total }}
                        </span>
                        <span class="pull-right">
                            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('.sidebar-menu > .active').removeClass('active');
            //$('.sidebar-menu > .sub .active').removeClass('active open');
            //$('#liHRMS, #liDepartment').addClass('active open');
        });
    </script>
</div>