
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                {{validation.nameEn}} <small> add new </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/INVPortal/definition/validation/{{validation.id}}">{{validation.nameEn}} List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid ">
        <div class="span12">
            <div class="widget widget-tabs">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>{{validation.nameEn}}</h4>
                </div>
                <div class="widget-body">
                    <div class="form-horizontal">
                        <form name="frm" novalidate>
                            <div class="control-group">
                                <label class="control-label" for="tName">Name</label>
                                <div class="controls">
                                    <input type="text" id="tName" ng-model="validationDetail.nameEn" class="input-medium" required />
                                    <div class="help-inline" ng-show="frm.tName.$error.required && frm.tName.$dirty">Please enter name !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tNameAr">Name (ar)</label>
                                <div class="controls">
                                    <input type="text" id="tNameAr" ng-model="validationDetail.nameAr" class="input-xlarge" required />
                                    <div class="help-inline" ng-show="frm.tNameAr.$error.required && frm.tNameAr.$dirty">Please enter arabic name !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtDescription">Description</label>
                                <div class="controls">
                                    <textarea id="txtDescription" ng-model="validationDetail.description" class="input-xlarge"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cActive">Status</label>
                                <div class="controls">
                                    <input type="checkbox" id="cActive" name="cActive" ng-model="validationDetail.isActive" ng-true-value="1" ng-false-value="0" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="save(validation.id, validationDetail)" ng-disabled="frm.$invalid">
                                    <i class="icon-ok"></i>&nbsp;Save
                                </button>
                                <!--<button id="cmdSaveAddNew" class="btn btn-primary" ng-click="save(supplier)" ng-disabled="frm.$invalid">
                                        <i class="icon-ok"></i>&nbsp; Save and Add New

                                    </button>-->
                                <a id="cmdCancel" class="btn btn-inverse" href="/INVPortal/definition/validation/{{validation.id}}">
                                    <i class=" icon-remove"></i>&nbsp; Cancel
                                </a>
                            </div>
                            <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
