<div class="container-fluid" data-ng-init="loadEmployeeLeaveTicketDetail()">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Leave Application <small> Request Form </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/HRMSPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Services</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">Leave Request</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>  Personal Information</h4>
                    <span class="tools">
                        <a href="/{{mainPortal}}/employee/detail/{{employee.id}}" target="_blank" class="icon-user"></a>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span id="MainContent_lblCode" class="control-label">Employee No:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.code" />
                                        <input type="hidden" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Designation:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.designationEn" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Grade:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.rank" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Employee Name:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.nameEn" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Department/Section:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.departmentName" />
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Unit:</span>
                                    <div class="controls">
                                        <input type="text" ng-model="employee.regiment"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i> Leave Information </h4>
                    <span class="tools">
                        <a href="/{{mainPortal}}/employee/leaveticket/{{employee.id}}" target="_blank" class="icon-plane"></a>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Leave Type:</span>
                                    <div class="controls">
                                        <select>
                                            <option value="Annual Leave">Annual Leave</option>
                                            <option value="Sick Leave">Sick Leave</option>
                                            <option value="Emergency Leave">Emergency Leave</option>
                                            <option value="Married Leave">Married Leave</option>
                                            <option value="Haj Leave">Haj Leave</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">From Date:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <span class="control-label">Replace Person:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">With Pay/Without Pay:</span>
                                    <div class="controls">
                                        <toggle-switch html="true" model="leave.isActive" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>"></toggle-switch>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="span5">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Total Days:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">To Date:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Address/Phone No:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Ticket :</span>
                                    <div class="controls">
                                        <toggle-switch html="true" model="leave.isActive" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>"></toggle-switch>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="span2 alert alert-info">
                            <div class="control-group">
                                <span class="control-label"><span translate="ACTIVE_YEAR"></span> :</span>
                                <div class="controls">
                                    <span ng-if="employee.contractId" class="label label-success">{{employee.currentContractYearStart | date:'dd MMM yyyy'}}</span> ~ <span ng-if="employee.contractId" class="label label-warning">{{employee.currentContractYearEnd | date:'dd MMM yyyy'}}</span>
                                    
                                </div>
                            </div>
                            <div class="control-group" ng-if="employee.leaveCategoryId">
                                <span class="control-label"><span translate="LEAVE_SUMMARY"></span> :</span>
                                <div class="controls">
                                    <label title="total days" class="badge badge-success" ng-bind="employee.totalDays"></label> - <label title="transfer days" class="badge badge-warning" ng-bind="employee.transferDays"></label> - <label title="deduct days" class="badge badge-default" ng-bind="employee.deductDays"></label>
                                    <a href="" title="view history" class="pull-right bottom-right"><i class="icon-time"></i></a>&nbsp;
                                    <label title="remaining days" class="badge badge-success pull-right bottom-right">{{employee.totalDays + employee.transferDays - employee.deductDays}}</label>

                                </div>
                            </div>
                            <div class="control-group" ng-if="employee.ticketCategoryId">
                                <span class="control-label"><span translate="TICKET_SUMMARY"></span> :</span>
                                <div class="controls">
                                    <label title="total tickets" class="badge badge-success" ng-bind="employee.totalTickets"></label> - <label title="reimbursed tickets" class="badge badge-default" ng-bind="employee.reimbursedTickets"></label>
                                    <a href="" title="view history" class="pull-right bottom-right"><i class="icon-time"></i></a>&nbsp;
                                    <label title="balance tickets" class="badge badge-success pull-right">{{employee.totalTickets - employee.reimbursedTickets}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" id="cmdSave" class="btn btn-success" ng-click="save(leave)" ng-disabled="frmLeave.$invalid">
                            <i class="icon-share"></i>
                            <span translate="SEND_FOR_APPROVAL"></span>&nbsp;
                        </button>
                        <a id="cmdCancel" class="btn btn-inverse" href="/{{mainPortal}}/leave">
                            <i class="icon-undo"></i>
                            <span translate="CANCEL"></span>&nbsp;
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>  Line Manager</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Line Manager Name:</span>
                                    <div class="controls">
                                        <select ></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Date :</span>
                                    <div class="controls">
                                        <input type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>  Department Manager</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Manager Name:</span>
                                    <div class="controls">
                                        <select></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Date :</span>
                                    <div class="controls">
                                        <input type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>  HR Department</h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down"></a>
                    </span>
                </div>
                <div class="widget-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <span class="control-label">Remaining Days:</span>
                                    <div class="controls">
                                        <input type="text"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">HR Person :</span>
                                    <div class="controls">
                                        <select ></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <span class="control-label">Signature:</span>
                                    <div class="controls">
                                        <input type="text" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('.sidebar-menu > .active').removeClass('active open');
        $('#liStaffServices,#liLeaveRequest').addClass("active");
    });
</script>
