<div class="row-fluid">
    <h4>All Nationalities</h4>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div style="width: 100%;" class="bar"></div>
    </div>
    <a class="icon-btn span2 red" href="#" ng-repeat="nationality in nationalities" ng-show="filtered1.length>0">
        <img alt="" ng-src="/Content/img/flag/{{nationality.id}}.png" />
        <div>{{ nationality.nameEn}}</div>

        <div ng-repeat="emp1 in filtered1 = (employees | filter:{nationalityId:nationality.id}:true)">
            <!--<span class="badge badge-important">{{ employees.length | filter:employees.postedTo:1 }}</span>-->
            <span class="badge badge-info">{{ filtered1.length }}</span>
        </div>
    </a>
</div>