
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                <span translate="EMPLOYEES"></span>  <small> <span translate="LISTING"></span>  </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/{{vm.mainPortal}}"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li><a href="/{{vm.mainPortal}}">HRMS</a><span class="divider">&nbsp;</span></li>
                <li><a href="#">Listing</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid ">
        <form name="staffForm" novalidate>
            <div class="span12">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list"></i>  Listing</h4>
                        <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <h4 class="title grey">Staff Listings</h4>
                                <div class="clearfix">
                                    <ul class="nav nav-list faq-list" ng-if="vm.authentication.isHRMSAdmin || vm.authentication.isSystemAdmin || vm.authentication.isHRMSUser">
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/contactlist"><i class=" icon-phone"></i> Staff Contact No Summary</a>
                                        </li>
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/probationexpire/"><i class=" icon-user"></i> <span translate="PROBATION_EXPIRY"></span></a>
                                        </li>
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/appraisal/"><i class=" icon-calendar"></i> <span translate="APPRAISAL"></span></a>
                                        </li>
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/contractexpire"><i class=" icon-signout"></i> <span translate="CONTRACT_EXPIRE"></span></a>
                                        </li>
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/visaexpire"><i class=" icon-plane"></i> <span translate="VISA_EXPIRE"></span></a>
                                        </li>
                                        <li>
                                            <a href="/{{vm.mainPortal}}/employee/passportexpire"><i class=" icon-plane"></i> <span translate="PASSPORT_EXPIRY"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
