
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Staff <small> listing </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/HRMSPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li><a href="/HRMSPortal">HRMS</a><span class="divider">&nbsp;</span></li>
                <li><a href="#">Listing</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid ">
        <form name="staffForm" novalidate>
            <div class="span12">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list"></i>  Listing</h4>
                        <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                        </span>
                    </div>
                    <div class="widget-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <h4 class="title grey">Staff Listings</h4>
                                <div class="clearfix">
                                    <ul class="nav nav-list faq-list">
                                        <li>
                                            <a href="/HRMSPortal/employee/contactlist"><i class=" icon-phone"></i> Staff Contact No Summary</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
