    <div id="sidebar" class="nav-collapse collapse">
        <div class="sidebar-toggler hidden-phone"></div>

        <ul class="sidebar-menu" >
            <li id="liDashboard">
                <a href="/INVPortal"><span class="icon-box"><i class="icon-dashboard"></i></span> Dashboard</a>
            </li>
            <li class="has-sub active" id="liHRMS" ng-class="{ active: isActiveParentNavigation('/INVPortal/definition')}">
                <a href="javascript:;" class="">
                    <span class="icon-box">
                        <i class="icon-edit"></i>
                    </span> Definition
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser" id="liStore" ng-class="{ active: isActiveNavigation('/INVPortal/definition/store/list')}">
                        <a class="" href="/INVPortal/definition/store/list">Store Location</a>
                    </li>
                    <li ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser" id="liItemType" ng-class="{ active: isActiveNavigation('/INVPortal/definition/validation/7')}">
                        <a class="" href="/INVPortal/definition/validation/7">Item Type</a>
                    </li>
                    <li ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser" id="liItemCategory" ng-class="{ active: isActiveNavigation('/INVPortal/definition/validation/8')}">
                        <a class="" href="/INVPortal/definition/validation/8">Item Category</a>
                    </li>
                    <li ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser" id="liManufacturer" ng-class="{ active: isActiveNavigation('/INVPortal/definition/manufacturer')}">
                        <a class="" href="/INVPortal/definition/manufacturer/">Manufacturer</a>
                    </li>
                    <li ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser" id="liSupplier" ng-class="{ active: isActiveNavigation('/INVPortal/definition/supplier/list')}">
                        <a class="" href="/INVPortal/definition/supplier/list">Supplier</a>
                    </li>
                </ul>
            </li>
            <li class="has-sub" ng-class="{ active: isActiveParentNavigation('/INVPortal/item/')}">
                <a href="javascript:;" class="">
                    <span class="icon-box">
                        <i class="icon-key"></i>
                    </span> Inventory
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li id="liOrgChart" ng-class="{ active: isActiveNavigation('/INVPortal/item/list')}">
                        <a href="/INVPortal/item/list">Items</a>
                    </li>
                </ul>
            </li>
            <li id="liLock">
                <a class="" style="cursor: pointer; cursor: hand;" data-ng-click="lock()"><span class="icon-box"><i class="icon-lock"></i></span> Lock</a>
            </li>
            <li id="liLogout">
                <a class="" style="cursor: pointer; cursor: hand;" data-ng-click="logOut()"><span class="icon-box"><i class="icon-key"></i></span> Log Out</a>
            </li>
        </ul>

        <!-- END SIDEBAR MENU -->
    </div>
<script language="javascript" type="text/javascript">
    $(function() {
        jQuery('#sidebar .has-sub > a').click(function () {

            var last = jQuery('.has-sub.open', $('#sidebar'));
            last.removeClass("open");
            jQuery('.arrow', last).removeClass("open");
            jQuery('.sub', last).slideUp(200);
            var sub = jQuery(this).next();
            if (sub.is(":visible")) {
                jQuery('.arrow', jQuery(this)).removeClass("open");
                jQuery(this).parent().removeClass("open");
                sub.slideUp(200);
            } else {
                jQuery('.arrow', jQuery(this)).addClass("open");
                jQuery(this).parent().addClass("open");
                sub.slideDown(200);
            }
        });

        $('.sidebar-toggler').click(function () {
            if ($('#sidebar > ul').is(":visible") === true) {
                $('#main-content').animate({
                    'margin-left': '25px'
                });

                $('#sidebar').animate({
                    'margin-left': '-190px'
                }, {
                    complete: function () {
                        $('#sidebar > ul').hide();
                        $("#container").addClass("sidebar-closed");
                    }
                });
            } else {
                $('#main-content').animate({
                    'margin-left': '215px'
                });
                $('#sidebar > ul').show();
                $('#sidebar').animate({
                    'margin-left': '0'
                }, {
                    complete: function () {
                        $("#container").removeClass("sidebar-closed");
                    }
                });
            }
        });
    });
</script>