
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Manufacturer <small> edit </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/INVPortal/manufacturer/">Manufacturer List</a><span class="divider">&nbsp;</span></li>
                <li><a href="#">Edit</a><span class="divider">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-edit"></i>edit&nbsp;</h4>
                    <span class="tools">
                        <a class="icon-plus-sign" href="/INVPortal/manufacturer/add"></a>
                        <a href="javascript:;" class="icon-chevron-down"></a>
                        <a href="javascript:;" class="icon-remove"></a>
                    </span>
                </div>
                <div class="widget-body" ng-init="loadCountries()">
                    <form name="frm" novalidate>

                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="txtCode">Name</label>
                                <div class="controls">
                                    <input type="text" id="tName" name="tName" ng-model="manufacturer.manufacturerName" required="required" />
                                    <input type="hidden" id="hdId" ng-model="manufacturer.manufacturerId" />
                                    <div class="help-inline" ng-show="frm.tName.$error.required && frm.tName.$dirty">mandatory field missing !&nbsp;</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cCountry">Country</label>
                                <div class="controls">
                                    <select id="cCountry" name="cCountry" ng-model="manufacturer.countryId" ng-options="country.id as country.nameEn for country in countries" required></select>
                                    <div ng-if="isLoadCountry" class="help-inline"><img src="/Content/img/loader.gif" /></div>

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Notes</label>
                                <div class="controls">
                                    <textarea ng-model="manufacturer.notes" class="input-large"></textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Is Active</label>
                                <div class="controls">
                                    <toggle-switch html="true" model="manufacturer.statusId" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" ></toggle-switch>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="edit(manufacturer)" ng-disabled="frm.$invalid">
                                    <i class="icon-edit"></i>
                                    <span translate="UPDATE"></span>
                                </button>
                                <a id="cmdCancel" class="btn btn-inverse" href="/INVPortal/definition/manufacturer">
                                    <i class="icon-undo"></i>
                                    <span translate="CANCEL"></span>
                                </a>
                            </div>
                        </div>
                        <div class="error" ng-show="errors.length > 0" ng-repeat="error in errors">{{ error }}</div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
            $('.sidebar-menu > .active').removeClass('active open');
            $('#liHRMS, #liDepartment').addClass('active open');
    </script>
</div>