<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
        <h3 id="myModalLabel3">{{title}}</h3>
    </div>
    <div class="modal-body">
        <p>{{messagebody}}...</p>
    </div>
    <div class="modal-footer">
        <button class="btn" aria-hidden="true" ng-click="cancelClick()">Close</button>
        <button class="btn btn-primary" ng-click="confirmClick()">Confirm</button>
    </div>
</div>
