<div id="top_menu" class="nav notify-row">
    <!-- BEGIN NOTIFICATION -->
    <ul class="nav top-menu">
        <!-- BEGIN SETTINGS -->

        <li class="dropdown">
            <a class="dropdown-toggle" data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Settings">
                <i class="icon-cog"></i>
            </a>
        </li>


        <!-- END SETTINGS -->
        <!-- BEGIN INBOX DROPDOWN -->
        <li class="dropdown" id="header_inbox_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-envelope-alt"></i>
                <span class="badge badge-important">5</span>
            </a>
            <ul class="dropdown-menu extended inbox">
                <li>
                    <p>You have 5 new messages</p>
                </li>
                <li>
                    <a href="#">
                        <span class="photo"><img src="" alt="avatar" /></span>
                        <span class="subject">
                            <span class="from">Dulal Khan</span>
                            <span class="time">Just now</span>
                        </span>
                        <span class="message">
                            Hello, this is an example messages please check
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">See all messages</a>
                </li>
            </ul>
        </li>
        <!-- END INBOX DROPDOWN -->
        <!-- BEGIN NOTIFICATION DROPDOWN -->
        <li class="dropdown" id="header_notification_bar">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-bell-alt"></i>
                <span class="badge badge-warning">7</span>
            </a>
            <ul class="dropdown-menu extended notification">
                <li>
                    <p>You have 7 new notifications</p>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-important"><i class="icon-bolt"></i></span>
                        Server #3 overloaded.
                        <span class="small italic">34 mins</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="label label-warning"><i class="icon-bell"></i></span>
                        Server #10 not respoding.
                        <span class="small italic">1 Hours</span>
                    </a>
                </li>
                <li>
                    <a href="#">See all notifications</a>
                </li>
            </ul>
        </li>
        <!-- END NOTIFICATION DROPDOWN -->

    </ul>
</div>
