
<div class="container-fluid" data-ng-init="loadDasboard()">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Dashboard
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/HRMSPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">Dashboard</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="alert alert-danger">
        <button data-dismiss="alert" class="close">×</button>
        Welcome to the <strong>MTC Inventory System</strong>!
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid circle-state-overview" ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser">
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle turquoise-color">
                            <i class="icon-key"></i>
                        </div>
                        <p>
                            <img data-ng-hide="items.length" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="items.length">{{items.length}}</strong> <h4>Total Items</h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle red-color">
                            <i class="icon-user"></i>
                        </div>
                        <p>
                            <img data-ng-hide="suppliers.length" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="suppliers.length">{{suppliers.length}}</strong> <h4>Suppliers</h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle red-color">
                            <i class="icon-list-ol"></i>
                        </div>
                        <p>
                            <img data-ng-hide="manufacturers.length" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="manufacturers.length">{{manufacturers.length}}</strong> <h4>Manufacturers</h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle purple-color">
                            <i class="icon-list-ol"></i>
                        </div>
                        <p>
                            <img data-ng-hide="locations.length" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="locations.length">{{locations.length}}</strong> <h4>Store</h4>
                        </p>
                    </div>
                </div>
            </div>

            <hr />
            
            <suppliers ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></suppliers>
            
            <hr />
            
            <manufacturers ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></manufacturers>
        </div>
    </div>
</div>

