
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Dashboard
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/HRMSPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li><a href="#">Dashboard</a><span class="divider-last">&nbsp;</span></li>
                <li class="pull-right search-wrap">
                    <div class="search-input-area">
                        <input id=" " class="search-query" type="text" placeholder="serial no / barcode">
                        <i class="icon-search"></i>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="alert alert-info">
        <button data-dismiss="alert" class="close">×</button>
        Welcome to the <strong>MTC Inventory System</strong>!
    </div>

    <div class="alert alert-danger" ng-show="authentication.isHRMSAdmin || authentication.isHRMSUser">
        <i class="icon-exclamation-sign"></i>&nbsp;  You are not authorized for this Module.
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid circle-state-overview" ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser">
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle turquoise-color">
                            <i class="icon-key"></i>
                        </div>
                        <p>
                            <img data-ng-hide="items.$resolved" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="items.$resolved">{{items.length}}</strong> <h4><a href="/INVPortal/item/list"> Items</a></h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle red-color">
                            <i class="icon-user"></i>
                        </div>
                        <p>
                            <img data-ng-hide="suppliers.$resolved" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="suppliers.$resolved">{{suppliers.length}}</strong> <h4><a href="/INVPortal/definition/supplier/list">Suppliers</a></h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle red-color">
                            <i class="icon-certificate"></i>
                        </div>
                        <p>
                            <img data-ng-hide="manufacturers.$resolved" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="manufacturers.$resolved">{{manufacturers.length}}</strong> <h4><a href="/INVPortal/definition/manufacturer">Manufacturers</a></h4>
                        </p>
                    </div>
                </div>
                <div data-desktop="span2" data-tablet="span4" class="span2 responsive clearfix">
                    <div class="circle-wrap">
                        <div class="stats-circle purple-color">
                            <i class="icon-building"></i>
                        </div>
                        <p>
                            <img data-ng-hide="locations.$resolved" alt="" data-ng-src="/Content/img/loader.gif" />
                            <strong data-ng-show="locations.$resolved">{{locations.length}}</strong> <h4><a href="/INVPortal/definition/store/list">Store</a></h4>
                        </p>
                    </div>
                </div>

            </div>
            <hr />

            <div class="row-fluid">
                <div class="span6">
                    <itemcategory ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></itemcategory>
                </div>
                <div class="span6">
                    <itemtype ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></itemtype>
                </div>
            </div>
            <hr />

            <div class="row-fluid">
                <div class="span6">
                    <departments ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></departments>
                </div>
                <div class="span6">
                    <locations ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></locations>
                </div>
            </div>
            <hr />

            <div class="row-fluid">
                <div class="span6">
                    <manufacturers ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></manufacturers>
                </div>
                <div class="span6">
                    <suppliers ng-if="authentication.isINVAdmin || authentication.isSystemAdmin || authentication.isINVUser"></suppliers>
                </div>
            </div>
            <hr/>

            <div data-ng-init="loadDasboard()"></div>

        </div>
    </div>
</div>

