
<div id="dvContract" class="modal fade" role="dialog" aria-hidden="true" aria-labelledby="Add Contract">
    <form id="frm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel1">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <label for="tName" class="control-label">Contract Code :</label>
                    <div class="controls">
                        <input type="text" id="tName" name="tName" ng-model="supplierContract.contractNo" required />
                        <div class="help-inline" ng-show="frm.tName.$error.required && frm.tName.$dirty">Please enter name !</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start Date :</label>
                    <div class="controls">
                        <input type="text" id="tStartDate" name="tStartDate" ng-model="supplierContract.startDate" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">End Date :</label>
                    <div class="controls">
                        <input type="text" id="tEndDate" name="tEndDate" ng-model="supplierContract.endDate" required />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Notes :</label>
                    <div class="controls">
                        <input type="text" ng-model="supplierContract.notes" class="input-xlarge" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Notify Before :</label>
                    <div class="controls">
                        <select ng-model="supplierContract.notifyBeforeDays">
                            <option value="30">1 Month</option>
                            <option value="60">2 Months</option>
                            <option value="90">3 Months</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button ng-if="authentication.isINVAdmin" type="submit" class="btn btn-primary" ng-click="saveSupplierContract(parentId, supplierContract);" ng-disabled="frm.$invalid">
                <i class="icon-save"></i>&nbsp;Save
            </button>
        </div>
    </form>
</div>
