
<h4><i class="icon-briefcase"></i>&nbsp; Item Types</h4>

<div class="progress progress-striped active" ng-show="isBusy">
    <div style="width: 100%;" class="bar"></div>
</div>
<div class="icon-btn span3 red fade-in" ng-repeat="type in itemTypes" ng-show="filtered.length>0">
    <a ng-href="/INVPortal/item/list?param01={{type.id}}" title="{{type.nameEn}}">
        <i class="icon-briefcase"></i>
        <div>{{ type.nameEn | limitTo:20}} {{type.nameEn.length > 20 ? '...' : ''}}</div>

        <div ng-repeat="item in filtered = (items | filter:{typeId:type.id}:true)">
            <span class="badge badge-important">{{ filtered.length }}</span>
        </div>
    </a>
</div>
