
<h4><i class="icon-building"></i>&nbsp; Store Locations</h4>

<div class="progress progress-striped active" ng-show="isBusy">
    <div style="width: 100%;" class="bar"></div>
</div>
<div class="icon-btn span3 red fade-in" ng-repeat="location in locations" ng-show="filtered.length>0">
    <a ng-href="INVPortal/item/list?param03={{location.storeId}}" title="{{location.storeName}}">
        <i class="icon-building"></i>
        <div>{{ location.storeName | limitTo:20}} {{location.storeName.length > 20 ? '...' : ''}}</div>

        <div ng-repeat="item in filtered = (items | filter:{storeId:location.storeId}:true)">
            <span class="badge badge-info">{{ filtered.length }}</span>
        </div>
    </a>
</div>
