<div class="row-fluid">
    <h4>All Suppliers </h4>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div style="width: 100%;" class="bar"></div>
    </div>
    <div class="icon-btn span2 red fade-in" ng-repeat="supplier in suppliers">
        <a ng-href="INVPortal/item/item/list?param01={{supplier.supplierId}}">
            <i class="icon-user"></i>
            <div>{{ supplier.supplierName}}</div>

            <div>
                <span class="badge badge-important">{{ supplier.items.length }}</span>
            </div>
        </a>
    </div>
</div>