
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Item <small> Add New </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/INVPortal/items/">Items List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid ">
        <div class="span12">
            <div class="widget widget-tabs">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>Item</h4>
                </div>
                <div class="widget-body" data-ng-init="loadDefinition()">
                    <div class="form-horizontal">
                        <form name="frm" novalidate>
                            <div class="control-group">
                                <label class="control-label" for="txtCode">Item Code</label>
                                <div class="controls">
                                    <input type="text" id="txtCode" ng-model="item.itemCode" class="input-medium"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="txtName">Item Name</label>
                                <div class="controls">
                                    <input type="text" id="txtName" ng-model="item.itemName" class="input-xlarge" required />
                                    <div class="help-inline" ng-show="frm.txtName.$error.required && frm.txtName.$dirty">Please enter name !</div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tNatoNo">NSN </label>
                                <div class="controls">
                                    <input type="text" id="tNatoNo" ng-model="item.natoNo" class="input-xlarge" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tSerialNo">Part No</label>
                                <div class="controls">
                                    <input type="text" id="tSerialNo" ng-model="item.serialNo" class="input-xlarge" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cType">Item Class</label>
                                <div class="controls">
                                    <select id="cType" name="cType" ng-model="item.typeId" ng-options="type.id as type.nameEn for type in itemTypes"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="cCategory">Item Category</label>
                                <div class="controls">
                                    <select id="cCategory" name="cCategory" ng-model="item.categoryId" ng-options="category.id as category.nameEn for category in itemCategories" required></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="tUtilization">Utilization</label>
                                <div class="controls">
                                    <textarea id="tUtilization" ng-model="item.utilization" class="span12"></textarea>
                                </div>
                            </div>
                            <hr />
                            <div class="control-group">
                                <label class="control-label" for="cStore">Store Location</label>
                                <div class="controls">
                                    <select id="cStore" name="cStore" ng-model="item.storeId" ng-options="location.storeId as location.storeName for location in storeLocations" required></select>
                                </div>
                            </div>
                            <hr/>

                            <h4>Additional Requirements</h4>
                            <div class="well">
                                <div class="control-group">
                                    <label class="control-label">IT</label>
                                    <div class="controls">
                                        <toggle-switch html="true" model="item.isIt" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" ></toggle-switch>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Callibration</label>
                                    <div class="controls">
                                        <toggle-switch html="true" model="item.isCallibration" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" ></toggle-switch>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Maintenance</label>
                                    <div class="controls">
                                        <toggle-switch html="true" model="item.isMaintenance" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" ></toggle-switch>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="cTechnician">Technician</label>
                                    <div class="controls">
                                        <select id="cTechnician" name="cTechnician" ng-model="item.technicanTypeId" ng-options="tech.id as tech.nameEn for tech in itemTechnicians" required></select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="tSpares">Spares</label>
                                    <div class="controls">
                                        <input type="text" id="tSpares" class="input-large" ng-model="item.spares" />
                                    </div>
                                </div>

                            </div>

                            <div class="control-group">
                                <label class="control-label" for="tComments">Notes</label>
                                <div class="controls">
                                    <textarea id="tComments" ng-model="item.notes" class="span12"></textarea>
                                </div>
                            </div>

                            <div class="form-actions" ng-if="authentication.isINVAdmin">
                                <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="save(item)" ng-disabled="frm.$invalid">
                                    <i class="icon-ok"></i>&nbsp;Save
                                </button>
                                <button id="cmdSaveAddNew" class="btn btn-primary hidden-phone" ng-disabled="frm.$invalid">
                                    <i class="icon-ok"></i>&nbsp; Save and Add New

                                </button>
                                <a id="cmdCancel" class="btn btn-inverse" href="/INVPortal/item/list">
                                    <i class=" icon-remove"></i>&nbsp; Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
