<div id="dvManufacturer" class="modal fade hide" role="dialog" aria-hidden="true" aria-labelledby="Add Manufacturer">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel1">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form id="frm" novalidate>
            <div class="form-horizontal">
                <div id="dvduplicate" class="control-group">
                    <label class="control-label">Manufacturer :</label>
                    <div class="controls">
                        <select id="cManufacturer" name="cManufacturer" ng-model="itemManufacturer.manufacturerId" ng-options="manufacture.manufacturerId as manufacture.manufacturerName for manufacture in iManufacturers" required></select>
                        <img id="imgError" class="help-inline" style="visibility: hidden;" src="/Content/img/warning-icon-16.png" alt="" />
                        <div class="help-inline" ng-show="frm.cManufacturer.$error.required && frm.cManufacturer.$dirty">*</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Notes :</label>
                    <div class="controls">
                        <textarea ng-model="itemManufacturer.notes"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-if="authentication.isINVAdmin" type="submit" id="cmdSave" class="btn btn-primary" type="submit" ng-click="saveItemManufacturer(parentId, itemManufacturer)" ng-disabled="frm.$invalid">
            <i class="icon-save"></i>
            Save
        </button>

    </div>
</div>
