
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                Item <small> Add New </small>
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="/INVPortal"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
                </li>
                <li>
                    <a href="#">Definition</a> <span class="divider">&nbsp;</span>
                </li>
                <li><a href="/INVPortal/item/list">Items List</a><span class="divider-last">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid" data-ng-init="loadItem()">
        <div class="span12">
            <div class="widget widget-tabs">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i>&nbsp; Item Detail</h4>
                </div>
                <div class="widget-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li ng-class="{active:isTabSelected(5)}"><a href="" ng-click="setTab(5)" data-toggle="tab">History</a></li>
                            <li ng-class="{active:isTabSelected(4)}"><a href="" ng-click="setTab(4)" data-toggle="tab">Attachment</a></li>
                            <li ng-class="{active:isTabSelected(3)}"><a href="" ng-click="setTab(3)" data-toggle="tab">Suppliers</a></li>
                            <li ng-class="{active:isTabSelected(2)}"><a href="" ng-click="setTab(2)" data-toggle="tab">Detail</a></li>
                            <li ng-class="{active:isTabSelected(1)}"><a href="" ng-click="setTab(1)" data-toggle="tab">General</a></li>
                        </ul>
                        <div class="tab-pane active" id="dvGeneral" ng-show="isTabSelected(1)">
                            <div class="span3">
                                <div class="text-center profile-pic">
                                    <!--<img alt="" src="/Content/img/{{item[0].itemId}}.png" style="height: 220px; width:220px;" width="220px" height="220px" />-->
                                    <img data-img-loading-value="{{item[0].itemPicture}}" data-img-loading-size="item" alt="" style="height: 220px; width:220px;" width="220px" height="220px" />
                                </div>
                                <ul class="nav nav-stacked">
                                    <li><a ng-href="/INVPortal/item/edit/{{item[0].itemId}}"><i class="icon-save"></i> Update</a></li>
                                    <li><a href="" ng-click="showImageForm(item[0].itemId)"><i class="icon-external-link"></i> Update Picture</a></li>
                                </ul>
                            </div>
                            <div class="span6">
                                <h4>{{ item[0].itemCode }} - {{ item[0].itemName }} <br /><small>{{ employee[0].departmentId.departmentName}} </small></h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="span2">Item Type :</td>
                                            <td>
                                                {{ item[0].typeDetail.nameEn}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Item Category :</td>
                                            <td>
                                                {{ item[0].categoryDetail.nameEn}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Store Location :</td>
                                            <td>
                                                {{ item[0].storeLocation.storeName}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Item Stock :</td>
                                            <td>
                                                {{ item[0].itemStock}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">IT :</td>
                                            <td>
                                                <toggle-switch html="true" model="item[0].isit" ng-true-value="1" ng-false-value="0" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" is-disabled="disabled"></toggle-switch>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Callibration :</td>
                                            <td>
                                                <toggle-switch html="true" model="item[0].isCallibration" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" is-disabled="disabled"></toggle-switch>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Maintenance :</td>
                                            <td>
                                                <toggle-switch html="true" model="item[0].isMaintenance" on-label="<i class='icon-check'></i>" off-label="<i class='icon-check-empty'></i>" is-disabled="disabled"></toggle-switch>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Technician :</td>
                                            <td>
                                                {{ item[0].technicianType.nameEn}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="span2">Spares :</td>
                                            <td>
                                                {{ item[0].spares}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <h4>Utilization</h4>
                                <div class="well">
                                    {{ item[0].utilization}}
                                </div>

                                <h4>Notes</h4>
                                <div class="well">
                                    {{ item[0].notes}}
                                </div>
                                <hr />
                                <a ng-href="/hrmsportal/employee/edit/{{employee[0].id}}" class="btn btn-info">
                                    <i class="icon-save"></i>
                                    Update
                                </a>
                            </div>
                            <div class="span3">
                                <h4>Suppliers</h4>
                                <ul class="icons push">
                                    <li>
                                        <i class="icon-hand-right"></i> <strong>ROP</strong><br />
                                        <em>
                                            Date : 12-March-2014
                                        </em><br />
                                        <em>
                                            Stock : 1
                                        </em><br>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="tab-pane" id="dvContactInfo" ng-show="isTabSelected(2)">
                            <i class="icon-hand-right"></i>  <strong>Item's Department</strong>
                            <span class="pull-right"><a href="" ng-click="showDepartment(item[0].itemId)"><i class="icon-external-link"></i> Add Department</a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Department Name</th>
                                                <th>Notes</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dept in item[0].itemDepartments">
                                                <td>{{$index+1}}</td>
                                                <td><a href="" ng-click="editDepartment(dept)">{{dept.departmentDetail.departmentName}}</a></td>
                                                <td>{{dept.notes}}</td>
                                                <td><a href="" ng-click="deleteDepartment(dept)"> <i class="icon-trash red"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br/><br/>
                            <i class="icon-hand-right"></i>  <strong>Year base Requirement</strong>
                            <span class="pull-right"><a href="" ng-click="showYear(item[0].itemId)"><i class="icon-external-link"></i> Add Year</a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Years</th>
                                                <th>Notes</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="year in item[0].itemYears">
                                                <td>{{$index+1}}</td>
                                                <td><a href="" ng-click="editYear(year)">{{year.yearDetail.nameEn}}</a></td>
                                                <td>{{year.notes}}</td>
                                                <td><a href="" ng-click="deleteYear(year)"> <i class="icon-trash red"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dvSupplier" ng-show="isTabSelected(3)">
                            <i class="icon-hand-right"></i>  <strong>Supplier</strong>
                            <span class="pull-right"><a href="" ng-click="showSupplier(item[0].itemId)"><i class="icon-external-link"></i> Add Supplier</a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="supp in item[0].itemSuppliers">
                                                <td>{{$index + 1}}</td>
                                                <td>{{supp.supplierDetail.supplierCode}}</td>
                                                <td>{{supp.supplierDetail.supplierName}}</td>
                                                <td><a href="" ng-click="deleteSupplier(supp)"> <i class="icon-trash red"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dvAttachment" ng-show="isTabSelected(4)">
                            <i class="icon-paper-clip"></i>  <strong>Attachment</strong>
                            <span class="pull-right"><a href="" ng-click=""><i class="icon-external-link"></i> Add Attachment</a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Notes</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="dvHistory" ng-show="isTabSelected(5)">
                            <i class="icon-time"></i>  <strong>History</strong>
                            <span class="pull-right"><a href="" ng-click=""><i class="icon-external-link"></i> Add Attachment</a></span>
                            <div class="row-fluid">
                                <div class="span12">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Notes</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
