<div id="dvItemAttachment" class="modal fade hide" role="dialog" aria-hidden="true" aria-labelledby="Add Attachment">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel1">{{title}}</h3>
    </div>
    <div class="modal-body" data-ng-init="loadDepartments()">
        <form id="frm" novalidate>
            <div class="form-horizontal">
                <div id="dvAttachment" runat="server" class="dropzone">
                    <div>
                        <div class="fallback">
                            <input type="file" ng-file-select="onAttachmentUpload(parentId, $files)" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" id="cmdSave" class="btn btn-primary" ng-click="saveItemDepartment(parentId, itemDepartment)" ng-disabled="frm.$invalid">
            <i class="icon-save"></i>
            Save
        </button>

    </div>
</div>
