<div id="dvStockSerial" class="modal fade hide" role="dialog" aria-hidden="true" aria-labelledby="Add Serials">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel1">{{title}}</h3>
    </div>
    <div class="modal-body" data-ng-init="loadSerials()">
        <form id="frm" novalidate>
            <div class="form-inline">
                <div class="control-group">
                    <label class="control-label">Serials :</label>
                    <div class="controls">
                        <span ng-repeat="serial in itemSerials">
                            <input type="text" ng-model="serial.serialNo" placeholder="Serial No" style="margin-left: 10pt; margin-bottom: 5pt;" />
                            <input type="text" ng-model="serial.organizationNo" placeholder="MTC No" style="margin-left: 10pt; margin-bottom: 5pt;" />
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" id="cmdSaveSerial" class="btn btn-primary" ng-click="saveItemSerials(parentId, itemSerials, false)" ng-disabled="frm.$invalid">
            <i class="icon-save"></i>
            Save
        </button>
        <button type="submit" id="cmdSaveSerialPrint" class="btn btn-info" ng-click="saveItemSerials(parentId, itemSerials, true)" ng-disabled="frm.$invalid">
            <i class="icon-barcode"></i>
            Save & Print Barcode
        </button>

    </div>
</div>
