<div id="dvYear" class="modal fade hide" role="dialog" aria-hidden="true" aria-labelledby="Add Year">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel1">{{title}}</h3>
    </div>
    <div class="modal-body">
        <form id="frm" novalidate>
            <div class="form-horizontal">
                <div id="dvduplicate" class="control-group">
                    <label class="control-label">Department :</label>
                    <div class="controls">
                        <select id="cYear" name="cYear" ng-model="itemYear.yearId" ng-options="year.id as year.nameEn for year in itemYears" required></select>
                        <div class="help-inline" ng-show="frm.cYear.$error.required && frm.cYear.$dirty">*</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Notes :</label>
                    <div class="controls">
                        <textarea ng-model="itemYear.notes"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button ng-if="authentication.isINVAdmin" type="submit" id="cmdSave" class="btn btn-primary" type="submit" ng-click="saveItemYear(parentId, itemYear)" ng-disabled="frm.$invalid">
            <i class="icon-save"></i>
            Save
        </button>

    </div>
</div>
